[2019-10-30 15:17] avirtuos opened #1 "[FEATURE] Create a columnar variant of BlockWriter/BlockSpiller"
Currently, BlockWriter and BlockSpiller encourage a row wise approach to writing results. These interfaces are often viewed as simpler than there would be columnar equivalents. Even though many of the systems that we've integrated with using this SDK do not themselves support columnar access patterns, there is value in offering a a variant of these mechanisms that provide the skeleton for columnar

[2019-11-05 16:33] avirtuos opened #2 "Add query completion detection"
When a query fails, uses a limit, or gets canceled it is possible that a Lambda invocation will continue to run until it completes its work even though the request has been abandoned. Since Lambda does not offer a mechanism we can use to 'cancel' a running invocation. It would be useful to have a way to indicate to potentially long running operations like GetTableLayouts, GetSplits, and ReadRecord

[2019-11-05 18:03] sethtdenney opened #3 "Add Connector Sanity Test"
Today, authors of custom Lambda connectors based on the Athena Federation SDK are provided only single-component unit tests to use for correctness verification. There is a class of logical bugs which could be written and not caught by these targeted unit tests, so the project would benefit from a broader logical test which would verify the end-to-end workflow across multiple components and invocat

[2019-11-05 19:40] sethtdenney opened #4 "[FEATURE] Use Set instead of List for partitionCols in GetSplitsRequest"
Currently, [GetSplitsRequest](https://github.com/awslabs/aws-athena-query-federation/blob/master/athena-federation-sdk/src/main/java/com/amazonaws/athena/connector/lambda/metadata/GetSplitsRequest.java#L55) requires a List\<String\> partitionCols argument, but [GetTableLayoutRequest](https://github.com/awslabs/aws-athena-query-federation/blob/master/athena-federation-sdk/src/main/java/com/amazonaw

[2019-11-06 14:54] avirtuos opened #5 "[FEATURE] Add PartitionProjection support to SDK and GlueMetadataHandler."
There are many cases where PartitionProjection can be a useful optimization for tables who's partitioning scheme is formulaic. This task is to port PartitionProjection from Athena's core engine to the athena-federation-sdk module so that any connector can make use of it. Additionally, we should enhance the GlueMetadataHandler to offer PartitionProjection based on Glue table properties as a first c

[2019-11-13 17:52] avirtuos opened #6 "[FEATURE] Refactor ValueSet and its implementations to improving filtering performance"
The current ConstraintEvaluator makes use of constructs like ValueSet which are heavily inspired by analogs in Presto. When these constructs were adapted for use with Apache Arrow we identified several places where unnecessary object churn takes place. This task is to refactor ValueSet's interfaces that are used by ConstraintEvaluator to reduce object churn.

[2019-11-14 15:26] grundprinzip opened #7 "[QUESTION] Cannot compile on Mac with default Java"
Cannot compile what looks like being an issue with Java > 8 and using the 'javax.activation' package.

[code]

[2019-11-15 08:08] grundprinzip opened #9 "Connector Validator uses hardcoded Regions"
If the user uploaded the lambda function to a region except US-EAST-2 validation will fail because the Lambda client is explicitly hardcoded to US-EAST-2.

[2019-11-15 16:25] avirtuos opened #10 "Add SecretsManager as SSL Cert source for JDBC SSL Support"
This task it to test that all RDS JDBC sources we support work with and without SSL. Anecdotal testing seems to suggest that the required Amazon CAs for RDS provided certs are already present in Lambda. For non-RDS MySQL, Postgres, etc... we should add a mechanism for providing your own certs, likely via SecretsManager which we already support for connections strings and credentials.

[2019-11-15 17:37] #3 closed, assigned to sethtdenney

[2019-11-15 17:40] #9 closed, assigned to atennak1

[2019-11-15 17:51] #2 closed, assigned to atennak1

[2019-11-15 21:36] avirtuos opened #14 "[FEATURE] Refactor JDBC & BigQuery Connectors to use StringTemplate"
Refactor JDBC & BigQuery Connectors to use StringTemplate since that will allow us to make dialect specific templates for the basic logic of translating constraints to SQL fragments we can push down into other SQL engines we federate to.

[2019-11-15 23:47] avirtuos opened #16 "Glue connectivity timeout causing slow queries"
When customers use a Glue enabled connector like DDB, DocDB, or HBase they may _not_ actually have Glue connectivity setup in their VPC. By default these connectors attempt to contect Glue even when it isn't available. This results in a >90 second wait while the call times out. Then because Glue is hidden, we don't even tell the customer. So it just appears as a warning in the log and a slow query

[2019-11-16 19:27] avirtuos opened #20 "Document the raw request/response payloads"
Integration with languages other than Java will benefit from detailed documentation on the serialized form required by each request/response. At present we are making heavy use of Jackson's ObjectMapper but we will want to move away from this in the future to something that gives us more control of how we evolve the protocol while minimizing disruption of older clients (Lambda functions).

[2019-11-16 23:21] avirtuos opened #21 "[FEATURE] Add support for Timestampw/TZ"
Add support for Timestampw/TZ to the SDK, Athena, and relevant connectors (e.g. jdbc)

[2019-11-18 07:12] grundprinzip opened #22 "Lambda functions return success on malformed payload"
When the lambda functions are called using malformed payload, the function will continue to return a status code of `200` indicating success. This will make it hard to triage issues in the interface. The log indicates that there was an error, but it's not propagated correctly to the caller.

Example: Calling the lambda function with an empty JSON Object

Result:

[code]

[2019-11-18 18:26] #22 closed, assigned to avirtuos

[2019-11-18 21:17] avirtuos opened #26 "FederatedIdentity is not always populated"
Certain call patterns result in the principle arn portion of the FederatedIdentity not being set when Athena calls a connector or being set to "unknown". This is a known issue and one that we hope to resolve in the weeks after the preview opens to the public.

In general we are still gathering feedback on the best way to federate identity to connectors. Please feel free to share your thoughts or s

[2019-11-18 21:57] avirtuos opened #27 "[FEATURE] Enhance publish tool to support aws profiles"
Some customers may need to assume a role or use a specific profile when publishing to SAR. We should enhance the publish tool to allow that by accepting and passing along the `--profile [PROFILE NAME] ` flag to the aws cli and sam tool.

[2019-11-20 02:22] avirtuos opened #42 "[FEATURE] Unnecessary maven dependencies"
At times I've noticed unexpected dependencies getting downloaded from maven central when I am building connectors. I'm not 100% sure if this is just an artifact of how maven does caching for multi-module projects or if there are actually extra, unnecessary, jars making their way into connector builds.  More specifically, when I was building athena-example I saw BigQuery jars getting downloaded by

[2019-11-20 02:27] avirtuos opened #43 "Generate javadoc"
Now that we have high coverage for javadoc and are close to our launch date, lets start publishing javadoc. This task is to:

1. auto-generate javadoc on commit
2. auto-publish javadoc
3. determine the best place to host the javadoc. (consider github pages)

[2019-11-21 19:30] avirtuos opened #51 "Migrate UDFHandler to use GeneratedRowWriter"
[This PR](https://github.com/awslabs/aws-athena-query-federation/pulls) generalized the pseudo code generation optimization that was started in WriterUtils and first used by UDFs.

[2019-11-21 22:22] #43 closed, assigned to atennak1

[2019-11-21 23:20] #51 closed, assigned to yufengJ

[2019-11-22 07:44] abhijeetvg opened #60 "Float/Real/Float4 constraint push down does not work in JDBC connector"
I was able to reproduce this issue with real data type in Redshift and float data type in MySql. Zero results are returned with no failure.

[2019-11-22 07:51] abhijeetvg opened #61 "[FEATURE] JDBC connector only works with lowercase table names."
Implement something similar to `DynamoDBTableResolver` to resolve case sensitive table names and also column names. We may be able to handle column names but using schema meta-data so that we dont really need a table name cache like we do with other connectors.

[2019-11-22 07:57] abhijeetvg opened #62 "[BUG] Redshift 'char' column constraint pushdown does not work"
Execution with constraint on char column returns empty results.

Verified that correct value is set in the prepared statement.

Similar push down works in MySql.

[2019-11-22 17:26] avirtuos opened #63 "[FEATURE] Multiple calls to getTableLayouts()"
We've seen cases where Athena calls getTableLayouts(...) multiple times for a given query. This is not expected and seems to suggest that Athena's optimizer is looking for different options (layouts) to find the best one. This task is to:

1.  try and reproduce that (a simple query against any table with at least 1 partition should suffice) and see why this happened or if it was an artifact of the

[2019-11-22 19:58] #60 closed, assigned to abhijeetvg

[2019-11-23 22:14] grundprinzip opened #66 "Arrow Schema Serialization for Arrow 0.15.0 and up"
While building a Python (and Rust) driver for the federation lambda functions, I stumbled across the issue that there seems to be an incompatibility when deserializing old IPC messages.

See: Columnar “Streaming Protocol” Change since 0.14.0 in http://arrow.apache.org/blog/2019/10/06/0.15.0-release/

I think, it would be great to either document this issue or check if it would be possible to upgra

[2019-11-25 18:41] #16 closed, assigned to atennak1

[2019-11-27 20:35] ryanrupp commented on #42
For the bigquery dependency, `athena-example` originally had a lingering hard reference to bigquery's library. This was resolved when the bigquery plugin was removed though [here](https://github.com/awslabs/aws-athena-query-federation/commit/c014bdc21ef5a7f1da0c3bc4535b5b12934446cc#diff-fb05eb26cc842b9fad7a4787378472eaL20)

Dependencies before for `athena-exmaple`:
[code]

Dependencies after (prod

[2019-11-27 20:38] avirtuos commented on #42
This is a good call out. We need to inventory what we are using from guava and either pull in only that pruned tree or make suitable alternatives. Jar size is a significant contributor to Lambda cold start but also for some connectors like HBase we are near the Lambda artifact size limit because the HBase client dependa on parts of Hadoop that do not offer anything but Uber jars.

[2019-11-28 14:23] avirtuos opened #70 "ThrottlingInvoker to conservative with cloudwatch-metrics"
When testing the cloudwatch-metrics connector I noticed it was too easy for me to write a query that would result in thrashing against cloudwatch getMetricData(...) API. This was surprising to me because ThrottlingInvoker was indeed kicking in and reducing the TPS to 1 for each running Lambda. However, it seems as though in aggregate Athena's minimum concurrency when peak congestion control active

[2019-12-04 02:43] johnchenghk01 opened #72 "Redshift timestamp column is not supported"
Although document said it is supported, it is not for Redshift.

https://github.com/awslabs/aws-athena-query-federation/tree/master/athena-jdbc#data-types-support
[code]

[2019-12-04 04:15] avirtuos commented on #72
@abhijeetvg can you take a look at this when you have a moment?

[2019-12-04 18:18] sethtdenney opened #73 "Change SAR Template to Lowercase Catalog and Lambda Names"
Due to Athena's automatically lowercasing identifiers referenced in queries, it is necessary to use only lowercase catalogs and function names in external Lambdas. Today, our Serverless Application Repository template allows users to create Lambda functions and catalog names with arbitrary case, despite the fact that non-lowercased names will be unusable in Athena today. This issue is to update th

[2019-12-06 19:35] avirtuos opened #74 "Cloudwatch Logs Connector Request Size Exceeded"
In the ANT222r workshop a customer ran into an issue querying the all_log_streams table. Mert / Anthony have the query id that generated the error. On the surface we suspect that the query created too many partitions or one of the log lines was so big that it exceeded the Lambda response size but somehow did not get spilled. this error needs to be investigated as it probably represents an edge cas

[2019-12-09 11:22] houmark opened #75 "DynamoDB connector chokes on some tables"
Hey there,

I'm checking out this FANTASTIC improvement to Athena with a DynamoDB but hit a snag fairly early in my testing. Some tables seem to be returning data fine, while 1-2 of my tables seems to choke no matter what I do:

Your query has the following error(s):

I've more than triple checked that my query is valid and correct.

The Query Id should help you debug I understand? I'm suspecting

[2019-12-09 11:50] avirtuos commented on #75
Akila, can you take a look?

Based on the error message, I suspect we had some issue with schema inference or mapping a value to a struct field. Could be a bug in Athena itself or in the connector not properly creating an empty struct vs a null struct. I recall us having some issue with this in testing but thought we corrected it Athena side.

[2019-12-09 18:52] sdorazio commented on #72
We are experiencing the same exception with Aurora (MySQL-5.6) while accessing any table with a `datetime` column, even if the column is not included in the select statement. Tables without a `datetime` column work as expected.

The lambda itself does execute successfully based on the CloudWatch Metrics & Logs. However, it appears Athena does not handle the response properly.

[2019-12-09 20:36] atennak1 commented on #75
Thanks @houmark for raising the issue!  I'm going to need a little more data to figure this out.  Can you provide one or more of the following?

1. In CloudWatch logs for your Lambda, there should be one or more log lines showing the table schema that the Lambda is returning to Athena.  Could you paste that here (anonymized as necessary).
2. Some sample data may help as well.  I suspect your table

[2019-12-09 20:53] houmark commented on #75
I may be able to add more here, though this is a total goose chase and may not be related at all.

Before I discovered these new Athena connectors, I spent two weeks on and off trying to setup a Glue crawler and an ETL job to pull out data to S3.

In that process, where I'm selecting "A proposed script generated by AWS Glue", Spark 2.4, Python 3, then the Change schema option on the next page, I h

[2019-12-09 21:00] abhijeetvg commented on #72
We apologize for the inconvenience, this is a documentation issue. Athena does not support Arrow `timestamp` datatype to which JDBC `timestamp` should map to. There could be some remnant mappings to `DateMilli` which are incorrect. As that may result in loss of granularity supported beyond milliseconds.

This feature will be available in future, we don't have an estimated completion date yet.

[2019-12-09 21:01] houmark commented on #75
Hi @atennak1

I missed your reply as I was writing mine. Can you give me an email where I can send this data? Anonymized won't be easy, but I have no problem email the data to you directly.

[2019-12-09 21:03] atennak1 commented on #75
Sure you can send them to tennakoo@amazon.com . Thanks!

[2019-12-09 21:07] houmark commented on #75
Here's one error will I search for more:

[code]

[2019-12-09 21:21] houmark commented on #75
@atennak1 I just emailed you more logs and some sample data from the table in question.

[2019-12-09 21:56] eranation opened #76 "StackOverflowError in the DynamoDB connector"
I'm experimenting with the DynamoDB connector. It seems to work fantastically well. I do get this error for one specific table for some reason. Is this a known issue?

Query Id: fe473a53-ea8d-4933-bbc5-0423fa15e0ae

[2019-12-10 07:48] YakobovLior opened #77 "Athena ElasticSearch connector"
Hello,

Are there are plans/requests for ElasticSearch connector for Athena? (not just AWS ElasticSearch service).

Thanks,
Lior

[2019-12-10 17:39] atennak1 commented on #76
Thanks @eranation for raising this issue!  Definitely not known.  Could you post the stack trace from your Lambda logs?  You should be able to find them in CloudWatch under the `/aws/lambda/<lambda name>` log group.  Thanks!

[2019-12-10 17:42] atennak1 commented on #77
Hi @YakobovLior .  We would like to support this but haven't gotten around to it yet.  We can leave this open for others to +1 their interest to help us prioritize.  We're also happy to review a PR if anyone writes an ElasticSearch connector themselves!

[2019-12-10 17:44] avirtuos commented on #77
We've received a few requests for elastic search. I've not been tracking the AWS service separately from the native OS one. May do so once we start getting deeper and understand if the connector needs to be differentiated or just tested against both. We can use this issue to track demand. I'd recommend any other folks that are interested add their interest to this issue via +1 and comment.

[2019-12-10 17:45] avirtuos commented on #77
@sethtdenney when I'm back for vacation we should chat about this and see where this is on the priority list. We got asked about this a lot at reInvent.

[2019-12-10 20:57] houmark commented on #75
Hey @atennak1 — can you confirm that you got my email with more data yesterday?

Also, I should maybe open a new issue, but after more testing, I've noticed another table where querying works fine, but some fields are missing. Those fields are nothing special (String/varchar) besides that I've recently added them (but they were added long before I connected Athena) and far from all items have a va

[2019-12-10 21:02] avirtuos commented on #75
Are you relying on the connector's schema inference capability or using explict schema in Glue? Folks can be missing if some of your records in the table lack that column. This means when the connector scans the table to infer it's schema, it never sees those columns and as a result they may be missing  when you query.

[2019-12-10 22:37] houmark commented on #75
I did not setup any explicit schema in Glue. I'd like to try it, but I was unable to get through the mapping process as I got the beforementioned error when doing so.

Specifically I get this error consistently on trying to save:

{"service":"AWSGlue","statusCode":400,"errorCode":"InvalidInputException","requestId":"9024ff9f-1ac3-11ea-9e60-97d57cde674b","errorMessage":"No enum constant com.amazona

[2019-12-11 00:07] houmark commented on #75
So I tried adding the table that is working in general but has missing fields using a Glue crawler.

The crawler ran and found the missing fields (or well at least the ones I noticed was missing).

After that I verified that the table was created and had the `classification` field set to `dynamodb` and went back to Athena and refreshed the tables list in my database called `default` (which is also

[2019-12-11 15:08] atennak1 commented on #75
Still looking into the struct issue.  I did receive your email @houmark thanks.

It looks like Glue doesn't let you use hyphens in table names which is unfortunate because we assume the table name is the same (case insensitive).  Maybe we should use the "Location" property in Glue's StorageDescriptor if present and contains a DDB AWS ARN to map back to the actual DDB name.  Anyway I'll open a sepa

[2019-12-11 15:23] atennak1 opened #78 "Handle Glue table name coercion"
When Glue Crawler crawls a table like a DynamoDB table, it will replace hyphens in the the table name with underscores.  Also it is likely that Glue will not allow hyphens during manual table creation.  Our current implementations of GlueMetadataHandler in all the current connectors currently assume the table name will be the same between Glue and the data source (allowing for case insensitivity).

[2019-12-11 15:33] sdorazio opened #79 "JDBC AWS Secrets Replacement Needs Escaping"
Passwords retrieved from AWS Secrets Manager that contain escape sequences for Java Regex replacements cause the following exception:

[code]

Replacements needs to use `Pattern.quote` to avoid this.

[2019-12-11 15:40] avirtuos commented on #79
@sdorazio any chance you have a pull request with an example of the fix and a sample string that causes the error? This may allow us to test and merge a fix more quickly for you. If not, that's ok as one of our engineers will reproduce and fix as needed. @abhijeetvg I'll assign this to you and you can let me know if you don't have capacity for this and we will reassign.

[2019-12-11 15:41] avirtuos commented on #79
Ah I didn't see the PR on mobile. Thanks @sdorazio

[2019-12-11 17:55] avirtuos commented on #78
Instead of #3 I'd recommend a table property in glue.

[2019-12-11 19:26] houmark commented on #75
Okay. The Amplify framework automatically name the tables on creation of the schema (including the hyphens) so this is something that’s out of my control.

[2019-12-11 19:47] houmark commented on #75
Also, if the hyphen bug could be addressed then I may be able to workaround the struct issue by adding a glue crawler and remove the struct fields in the mapping which I won’t need for my queries anyways.

[2019-12-12 00:37] atennak1 opened #81 "DynamoDB Connector does not handle Glue BigInt column correctly"
I crawled a table containing a year column which the Glue crawler decided was a `bigint`.  I see the following stacktrace in CloudWatch:

[code]

This is because the ItemUtils.toSimpleValue util that is used to convert from AttributeValue to Java object returns a BigDecimal for any DDB Number attribute.

[2019-12-12 01:24] atennak1 commented on #75
Hi @houmark . I have a potential fix for the struct fields with https://github.com/awslabs/aws-athena-query-federation/pull/82 .

Until it's merged you can try it out by applying the patch locally: https://github.com/awslabs/aws-athena-query-federation/pull/82.patch

and then publish to your private Serverless App Repo using the `publish.sh` script, and then redeploy from there.

[2019-12-12 01:34] houmark commented on #75
Looks great! I will try that out tonight or tomorrow max, I hope I can figure out how to do this, as this will be my first time trying it.

[2019-12-15 00:44] houmark commented on #75
Hey @atennak1

Sorry for the delay here, I fell sick and was offline for a couple of days. I tried building now, but I'm getting a weird error. It seems that it's trying to resolve one of the dependencies at s3-us-west-2 which it fails to do. I don't think that's something I can control. My AWS user and S3 bucket is in us-east-1.

The entire error here:
[code]

The above error is after several ret

[2019-12-15 01:23] houmark commented on #78
Hey guys,

My feedback here (I was hit by this).

This will affect all AWS Amplify (and possibly also AWS AppSync) generated DynamoDB tables, as Amplify creates multiple environments and a unique identifier on each table in addition to its name. Each part is divided by a hyphen.

If option 1 could be done first, then I think this will solve most of these situations. When I created the Glue crawler

[2019-12-15 04:12] atennak1 commented on #75
Looks like you need to build the SDK first.
[code]

[2019-12-15 04:18] houmark commented on #75
Sorry, I'm Java is not my home soil.

I tried that now, but got a new error:

[code]

Java version is:

[code]

Maybe that's a problem?

[2019-12-15 04:36] houmark commented on #75
My Mac has both Java 8 and Java 11 which is kinda annoying, but I was able to swap to Java 8 and I'm now building the SDK.

I'll report back when I got news on building the connector.

[2019-12-15 04:53] houmark commented on #75
OK, sorry again for the noob issues here with Java, but my main language is nodejs and I've never really done anything in Java.

I was able to build the connector and connect it, and I'm happy to report that I'm now able to query the table that was giving problems before 🚀👍

I'll report back here if I hit anything weird, but no news is good news, so hoping to see this in the official connector soo

[2019-12-16 03:59] atennak1 commented on #75
Glad to hear it's working.

Regarding the inference skipping some fields, you can try increasing the number here: https://github.com/awslabs/aws-athena-query-federation/blob/master/athena-dynamodb/src/main/java/com/amazonaws/athena/connectors/dynamodb/util/DDBTableUtils.java#L62

This will make it use a bigger scan to build the schema, so hopefully it may pick up those missing fields.

[2019-12-16 04:05] houmark commented on #75
Nice! As I understand it, raising the number too much will slow stuff down, right?

[2019-12-16 11:11] houmark commented on #75
@atennak1 Can you advise on updating an existing connector?

It seems that when I run the publish again, a new folder is created in S3, the app in the repository is overwritten, but I am unsure about the process to use the latest published connector in Athena. Do I need to delete the old connection and even the old app and then start all over again or is there a more simple process to make sure th

[2019-12-16 17:31] atennak1 commented on #75
There's two ways:
1. If using the publish script, I would recommend first deleting the existing Lambda, bumping up the [version](https://github.com/awslabs/aws-athena-query-federation/blob/master/athena-dynamodb/athena-dynamodb.yaml#L13), running the script, and then deploying from SAR.
2. You can also update the Lambda directly:
[code]

[2019-12-16 17:40] avirtuos commented on #75
Akila, can you add these steps for upgrading to the GitHub wiki?

On Mon, Dec 16, 2019, 12:31 PM Akila Tennakoon <notifications@github.com>
wrote:

[2019-12-16 17:50] richiverse opened #83 "[FEATURE] Support for BlazingSQL possible?"
https://docs.blazingdb.com/docs/using-blazingsql

[2019-12-16 17:53] houmark commented on #75
If using step 1, do I then have to do anything in the console afterwards or will Athena pick  it up automatically once the new lambda is up?

[2019-12-16 17:55] houmark commented on #75
Also deploying from SAR. Isn’t that a part of the publish script? Sorry about these questions, but I did look in the wiki/docs but it does not cover anything about upgrading.

[2019-12-16 18:51] atennak1 commented on #75
1. After running the publish script, navigate to the SAR console (you can click on the link that the script outputs).
2. Click on Available Applications on the left-hand side.
3. Click on the Private Applications tab.
4. Check the box "Show apps that create custom IAM roles or resource policies".
5. Click on AthenaDynamoDBConnector.
6. Fill out the Application settings form and click Deploy.

[2019-12-16 18:52] atennak1 commented on #75
@avirtuos will do

[2019-12-17 02:13] houmark commented on #75
Thanks again. I was now able to raise the `SCHEMA_INFERENCE_NUM_RECORDS` to a higher number and it picked up all the fields I need for now.

I'm still curious to understand if a higher value will have runtime performance issues or if this is only when listing tables? How is the interference schema cached, if at all? In any case, this works for development and to get the quieres working, but it see

[2019-12-18 21:12] atennak1 commented on #83
Thanks for the issue.  Can you clarify In what way do you want BlazingSQL support?  Do you mean within a Lambda connector?  I suppose that's possible but I don't see what benefit that would provide over standard Athena usage with S3.

[2019-12-18 21:16] atennak1 commented on #75
Yes this will add several tens of milliseconds to every query.  Right now there is no caching but adding caching would be a good perf improvement for warmed up Lambdas.

Makes sense.  I'll prioritize https://github.com/awslabs/aws-athena-query-federation/issues/78

Thanks I'll incorporate this!

[2019-12-18 21:26] avirtuos commented on #83
I believe BlazingSQL is a GPU enhanced SQL engine. If I'm correct, this
would presumably provide fast access to data that fits within the GPU's
VRAM. Would be good to understand the usecases and confirm if this
understanding is correct since most of the perf gains of the GPU
aggregation and filtering would be nullified by the current Lambda based
connectors until we can push down aggregates.

On W

[2020-01-02 16:14] sdorazio commented on #72
I do not agree with labeling this strictly as a documentation issue. I understand the lack of support based on the timestamp type. However, I do not agree with the error handling on the Athena side.

If a table has a timestamp column, the table's metadata causes Athena to throw an exception even if the query is not using that column in any way. While I understand the intent of this, I do not agree

[2020-01-02 16:35] avirtuos commented on #72
I tend to agree with #2 as a good interim option while we add support for more datatypes on the Athena side.

[2020-01-03 11:44] buremba opened #87 "Workaround for spilling to S3"
We're investigating the ways to integrate the Raptor connector (https://github.com/prestodb/presto/tree/master/presto-raptor) to Athena. We store the shards as ORC files in S3 and use Mysql as a metadata backend that stores the BRIN indexes separately.

We would like to write a connector for Athena that applies predicate & aggregate pushdown to the query and returns the ORC files (shards) from the

[2020-01-03 15:11] avirtuos commented on #87
Which 6MB limit? The only API that isn't paginated or capable of spill is getTableLayouts() for connector that need to return more than 6MB of metadata we recommend structuring the connector to move the large metadata to splits. This allows Athena engine to avoid blocking on long running metadata operations. Let me know if this clarifies things or please provide me a bit more information about the

[2020-01-03 15:15] buremba commented on #87
@avirtuos I'm referring to `RecordHandler` interface which is responsible from returning the data for `TableScan` operator, not the metadata. (See the example: https://github.com/awslabs/aws-athena-query-federation/blob/master/athena-example/src/main/java/com/amazonaws/connectors/athena/example/ExampleRecordHandler.java#L110)

The 6MB limit is mentioned here: https://github.com/awslabs/aws-athena-

[2020-01-03 15:16] avirtuos commented on #87
Ah ok. I understand now. Is there a reason why the spill capability won't work for you? Or are submitting this for the optimization but not as a functional blocker?

[2020-01-03 15:24] buremba commented on #87
The Raptor connector is an alternative connector for Hive and we store the terabytes of ORC files in S3. Raptor is actually optimized for the workload that involves hot storage for fast access (SSD) + cold storage for redundancy (S3).

We will be dropping the support for hot storage in favor of Athena's caching mechanism but writing the files again to S3 as a middleware layer would completely make

[2020-01-03 15:35] avirtuos commented on #87
Makes sense. We are indeed investigating alternatives to the current S3 spill as well as prioritization of that work based on demand for it.

[2020-01-06 15:30] avirtuos commented on #74
I have a chance to analyze this example from the session in more detail. It looks like the customer queried sooo many log streams that it generated more partitions than could be handled by the cloudwatch connector. We should look into refactoring how the cloudwatch connector creates partitions and splits. It may make sense to either move all this to splits or add a limit to the number of log strea

[2020-01-06 21:06] avirtuos commented on #79
I raised a new PR because an erroneous suggestion I made resulted in an error in PR #80

[2020-01-06 21:22] atennak1 commented on #79
Merged in https://github.com/awslabs/aws-athena-query-federation/pull/80

[2020-01-06 21:22] #79 closed

[2020-01-06 21:30] atennak1 commented on #81
Handled for top level (non-nested) DDB attributes with https://github.com/awslabs/aws-athena-query-federation/commit/d3b25cb6bef865f51cfd5e19e9d9512b29f48015

[2020-01-06 21:30] atennak1 commented on #78
Merged with https://github.com/awslabs/aws-athena-query-federation/commit/d3b25cb6bef865f51cfd5e19e9d9512b29f48015

[2020-01-06 21:30] #78 closed

[2020-01-07 20:07] atennak1 opened #89 "Address Log4J vulnerability"
https://github.com/awslabs/aws-athena-query-federation/network/alert/athena-federation-sdk-tools/pom.xml/log4j:log4j/open

[2020-01-08 05:10] houmark opened #90 "DynamoDB still chokes on some Glue tables"
Hey there,

I've been testing a custom-built connector based on the recent merged PR's and in general, it's been running pretty smooth. The main issue I have seen until today was random Athena query fails, or really slow results, which I attribute to too many queries at the same time, hitting the limit of 20 requests. I have requested a limit raise and will report back if there's any news on that.

[2020-01-08 14:06] avirtuos commented on #75
@atennak1 I see some of the PRs associated with this issue are now merged. Are we ok to close this? if not, what else is outstanding?

[2020-01-08 14:08] avirtuos commented on #90
This seems related to #81 as well. @atennak1 I wonder if we should have all connectors (since this issue wont be unique to DDB) ignore fields that they don't support. This would allow folks to use tables that have unsupported columns. Either that or we'd have to use some generic coercion for those fields... thoughts?

[2020-01-08 14:12] avirtuos commented on #90
@houmark I also wanted to comment on a couple things you mentioned above. Firstly, we are thrilled you are finding success with this connector and thank you for working with us through some of these rough edges. Please keep in mind that these features are currently in 'Preview' and as such account limits are being managed a bit differently (we are less likely to grant limit increases for these pre

[2020-01-08 19:50] avirtuos commented on #89
We do not make us of the vulnerable TcpSocketServer and UdpSocketServer appenders that extend the vulnerable AbstractSocketServer. I've resolved the alert on the repo itself but will keep this issue open to track removing the dependency entirely.  Here is the associated issue in the open source project; https://issues.apache.org/jira/browse/LOG4J2-1863

[2020-01-08 19:51] avirtuos commented on #89
looks like 2.9.0 is the version we need to switch to @atennak1

[2020-01-08 22:12] houmark commented on #90
Yeah, one of them seems related to #81 or the struct bug (when empty) and the other one just seems like it's not a supported field (date). I guess it could fall back to ignore or try to stringify the value which may work in some cases.

Thanks for your feedback @avirtuos — I appreciate your clarification and I'm fully aware that this is not "production stable" and is in public preview, but we real

[2020-01-08 23:45] atennak1 commented on #90
@houmark please go ahead a post some query IDs here and we'll take a look.

[2020-01-09 00:04] atennak1 commented on #75
Yep we can close this now.

Handled by https://github.com/awslabs/aws-athena-query-federation/pull/82

[2020-01-09 00:04] #75 closed

[2020-01-09 22:54] atennak1 commented on #89
Merged https://github.com/awslabs/aws-athena-query-federation/pull/91

[2020-01-09 22:54] #89 closed

[2020-01-10 10:39] houmark commented on #90
Here's a bunch of Query ID's collected at random times. I have way many more than those, but the picture is the same, the query fails and not due to errors in my end, the query has not changed for days:

[code]

[2020-01-10 16:43] atennak1 commented on #90
@houmark looks like these all hit the same unhealthy compute resource in Athena.  I've terminated it and opened an internal issue to root cause why it wasn't automatically detected.  Let me know if you're still seeing failed queries going foward.

[2020-01-10 16:44] houmark commented on #90
That’s great. I will for sure keep an eye and report further issues back. Thanks!

[2020-01-10 22:05] houmark commented on #90
Early feedback. No failed queries until now, so it may have been just one unhealthy instance. Hoping the Athena team can make sure such instances can be automatically removed in the future, so users don't have to be watch guards on that.

One thing that's weird is that I can see in the query time in the Athena query history, and for many queries, that's around 3 seconds, which is good, but I don't

[2020-01-10 22:10] houmark commented on #90
And just as I wrote that I had the first failed query, which also points to an unhealthy instance: `4c9ab3eb-8ee0-40e3-af98-4720698995ca`.

[2020-01-11 17:49] avirtuos commented on #90
@atennak1 can we take a deeper look at the logs on these instances both Presto and OS? I want to make sure we don't have some memory leak or other issue that is sneaking up on us. The last round of stress testing seemed to catch the last leak / memory fragmentation issue from how we were using Apache Arrow but might be best to double check. Let's chat about priority on Monday with Michael as this

[2020-01-11 19:07] houmark commented on #90
I'd like to add that overall, after the removal of that one unhealthy instance, queries have loaded more stable. The query ID's I've sent were all the ones I could find in the query history from approx 1.000 queries. Up until the removal of the unhealthy instance yesterday, I would easily have 5-10% failed queries.

My main concern right now is that there seems to be quite a latency from the amoun

[2020-01-12 19:56] houmark commented on #90
Here's a few more queries to investigate.

Super slow to return the results (around 2 minutes) but Athena UI says query only took a few seconds:

[code]

Failed, not due to unhealthy instance (ErrorCode: INTERNAL_ERROR_QUERY_ENGINE):

[code]

[2020-01-12 22:13] houmark commented on #90
This is how it's looking right now, high failure rate, randomly, no queries changed, all work, but Athena is failing at will (this was 21 queries sent at once through API, 6 failed):
![Athena](https://p196.p4.n0.cdn.getcloudapp.com/items/bLuG5GGz/Image+2020-01-12+at+5.11.49+PM.png?v=c4668d78aa0d9c52f3638f7d82e13c54)

[2020-01-12 22:16] avirtuos commented on #90
That level of concurrency might be contributing to the perf you commented
on earlier. Shouldn't be related to the failures but we are enforcing
rather low limits for preview features which might mean non-trivial latency
for 21 concurrent queries.

On Sun, Jan 12, 2020, 5:13 PM houmark <notifications@github.com> wrote:

[2020-01-12 22:30] houmark commented on #90
I'm aware of the supposed 20 queries DML limit and I saw a lot of errors in the past which I now attribute to the unhealthy instances. But I requested a raise of that limit to 100, which was confirmed done by the support team, and after that, I saw better stability — but maybe that limit is not in use on preview features? I had a few really stable days in terms of the queries actually not failing,

[2020-01-13 19:40] avirtuos opened #92 "Publish API metrics"
It would be helpful if the SDK allowed customers to enable/disable publishing of cloudwatch metrics for connector performance, including but not limited to:

1. latency by method
2. total bytes
3. total rows
4. total splits
5. total partitions
6. success vs failure

This is something that should be on by default but could be disabled via env-var if the customer wanted to reduce cloudwatch costs.

[2020-01-13 22:18] atennak1 commented on #90
Thanks for your patience @houmark .  I'm testing a potential fix for the INTERNAL_ERROR_QUERY_ENGINE failures.  I will update here when it gets pushed out to the Preview stack.

[2020-01-13 22:19] houmark commented on #90
Brilliant, happy to see my feedback is helpful :) As I understand this is pushed in your end, so no need for me to re-deploy the connector?

[2020-01-13 22:21] atennak1 commented on #90
Correct

[2020-01-14 21:18] atennak1 commented on #70
https://github.com/awslabs/aws-athena-query-federation/pull/71 address 1, 2, and 5.  3 and 4 are probably no longer be necessary so resolving this.

[2020-01-14 21:18] #70 closed

[2020-01-14 21:20] atennak1 commented on #90
We've deployed the stability fix.  Let us know if you still receive a high rate of generic failures.

[2020-01-14 23:27] houmark commented on #90
Thanks @atennak1! So far so good. No failed queries, I'll keep monitoring and report back here.

The main thing now is that there is still a fairly large delay from the time Athena says a query took, to my UI receiving the data. That may be a slowdown in Athena itself, in S3 writing the data (it's a very small dataset), the S3 trigger, the DynamoDB write/trigger (the Lambda that receives the S3 tr

[2020-01-15 00:07] avirtuos commented on #90
The 0kb scanned is likely because we have turned off billing for the
preview features. Federated Queries are free until we determine the pricing
model.

The slowdown is likely related to your concurrency as we are enforcing very
tight limits in the preview. Best way for us to confirm is if you share an
affected query id.

On Tue, Jan 14, 2020, 6:27 PM houmark <notifications@github.com> wrote:

[2020-01-15 00:31] houmark commented on #90
OK, I did not know that and it did use to show the amount of data scanned even in the preview. I was under the impression that the pricing was $5 per 1TB scanned with a minimum charge of 10MB per query, which made this a fairly good pricing model (effectively, giving us 100k queries for $5 as we never hit the 10MB in one query). I certainly do not hope you are coming up with a more expensive prici

[2020-01-15 00:57] avirtuos commented on #90
I'm not sure how the pricing will go yet, certainly we are doing our best
to lower costs not raise them but it is possible that it will be more than
$5/TB initially. If you email me virtuoso@amazon.com, Akila and I will
connect you with our product folks so they can discuss your testing limits
and perhaps get your feedback regarding pricing.

On Tue, Jan 14, 2020, 7:31 PM houmark <notifications@gi

[2020-01-15 01:04] houmark commented on #90
connect you with our product folks so they can discuss your testing limits
and perhaps get your feedback regarding pricing.

Done!

[2020-01-15 17:57] ryanrupp commented on #90
@houmark I believe the Athena query history is showing the engine time (so the time actually spent executing the query) but there's also the concept of queue time which can maybe explain the discrepancy you see (and as noted lower concurrency limits contributing to that). As of November 2019 Athena exposes metrics for this, see [here](https://docs.aws.amazon.com/athena/latest/ug/query-metrics-view

[2020-01-15 22:50] atennak1 commented on #76
Closing this now as I have too little to go on in terms of debugging and have yet to see anyone else hit this.  @eranation if you could post those logs we can re-open this.

[2020-01-15 22:50] #76 closed

[2020-01-15 23:15] houmark commented on #90
Very good info there @ryanrupp. And yes, it looks like `QueryQueueTime` is in fact in many cases longer than the actual Execution time for us, even on the very first queries after a period with no activity. And as soon as we kick off too many queries in a short time period, the `QueryQueueTime` increases aggressively.

There seem to be potentially two issues, the above `QueryQueTime` and then a po

[2020-01-16 20:19] benkehoe commented on #92
Are you thinking the SDK itself is publishing these? Or that the protocol would allow the connector to pass it back to Athena to be published by the service? One nice thing that might help with would be aggregated metrics giving a health view across the system

[2020-01-16 20:53] avirtuos commented on #92
I was thinking that we would instrument the connectors themselves so that they publish directly to Cloudwatch and also log the stats. This gives you more control over if you want to enable the metrics or if logging them is enough. I'd envision adding this instrumentation in some of the AbstractClasses of the SDK so that all connectors get the common stuff without extra work. Thoughts?

[2020-01-16 21:11] benkehoe commented on #92
I don't have strong opinions here, other than that more managed (i.e., by the service) is usually better in my book. If it's in the SDK, I think it'd be useful to use the embedded metric format, at least.

[2020-01-18 01:14] houmark commented on #90
Hi guys,

Another update from me. It's been a few days and I have more observations from actively using the DynamoDB connector.

**Positive:**

No failed queries. It seems @atennak1's most recent fix is working smoothly. Also not seeing unhealthy instances, so that means our UI is loading consistently besides a bug in AppSync subscriptions which I am yet to fully identify. When that happens, nothi

[2020-01-18 01:17] avirtuos commented on #90
This makes sense to me. The preview limits are much lower than production.
Also, we are chasing one more bug that is likely the cause of some query
failures. I suspect you may see bursts of failures over time until we fix
it. ETA for that fix is a mater of days.

As for the limits, I'll bump that email thread with our PM. I don't recall
seeing him reply to you.

On Fri, Jan 17, 2020, 8:14 PM houma

[2020-01-18 02:01] houmark commented on #90
Yeah, I haven't heard from your PM yet.

I fully understand the preview limits and if those are increased we would be less likely to see the QueryQueueTime increase as fast and high as it currently does, but I'm still concerned at the QueryQueueTime after a silent period. Queue time always being in up in the area of 5-10 seconds would be reason enough to not consider this setup as a valid option a

[2020-01-18 02:04] avirtuos commented on #90
What do you mean by silent period? How many concurrent requests are you
generating for these tests? Perhaps try with only 1 concurrent query,
meaning don't submit the next query until the previous one completes.

On Fri, Jan 17, 2020, 9:01 PM houmark <notifications@github.com> wrote:

[2020-01-18 02:09] houmark commented on #90
I mean for example one hour or so with no queries to Athena from our account at all (I can verify this in the Athena Query History UI and also in the metrics charts). But maybe the limits are global for all users in the preview, which means I cannot know if other testers have been querying?

I've considered one by one, but according to my best estimates, that would end up being even slower in the

[2020-01-18 02:11] avirtuos commented on #90
You are most likely hitting a concurrency limit in the Preview. Let's
discuss with Janak by email to see if we can increase that for your
testing. We can update this issue with the summarized conclusion.

On Fri, Jan 17, 2020, 9:09 PM houmark <notifications@github.com> wrote:

[2020-01-22 04:35] hitesh1907nayyar opened #93 "Problem related to Query in Athena"
Hi All,

I am running queries on Athena with configuration through Crawler,Tables and Databases. It is reading the queries from S3. First time i run the query i get the response in one line(Select * from hitesh1907). But when i run this query repetitively i keep on getting the blank rows and result of query way lower.

I am not aware what i am doing wrong as why I am getting empty rows before actu

[2020-01-22 17:58] atennak1 commented on #93
I suspect the issues you're facing were addressed recently.  Could you try publishing the latest version of the DDB connector by following the steps here?: https://github.com/awslabs/aws-athena-query-federation/wiki/How_To_Build_A_Connector_or_UDF . We've made some updates recently but have not yet cut a new release in Serverless App Repo.

[2020-01-22 18:53] avirtuos commented on #93
@atennak1 Given the popularity of the DDB connector, maybe we can cut a release this week and update SAR? i'm not sure there is a downside to cutting a release even if we only have a few bug fixes ready to ship. Thoughts?

[2020-01-22 20:35] atennak1 commented on #93
Yep I was thinking the same thing.  I'll start the process.

[2020-01-23 18:54] atennak1 commented on #93
Latest version of the DDB connector was just published to SAR, so feel free to re-deploy from there.

[2020-01-24 13:50] Ceph97 commented on #72
Do you have like a sample LAMBDA function to ignore fields with timestamp type

[2020-01-24 14:05] avirtuos commented on #72
The issue has both documentation and bug labels. There is a proposed workaround that we are yet to implement described above to essentially ignore unsupported column types.

[2020-01-24 14:08] avirtuos commented on #72
@atennak1 @sethtdenney think we can prioritize ignoring unsupported types so we don't throw? I'm thinking this is best done Lambda side though more annoying since it would be per-connector than doing it Athena side.

[2020-01-24 15:53] sethtdenney commented on #72
My view is that pushing down this logic to each connector is the preferable option, but I'd expand it to add an environment variable to allow Lambda owners to explicitly signal which behavior they'd prefer. In general, I'm against implicit behavior which silently ignores data, errors, outliers, etc. as it can lead to confusion and operational pain for our customers. If we were to add in this behav

[2020-01-24 16:32] avirtuos commented on #72
@sethtdenney I agree that silent behaviors can lead to confusion. A happy middle ground is probably to treat unsupported columns as 'strings' and if they are queried return a value of 'NOT_SUPPORTED' this accomplishes two things: 1) no failures, 2) very obvious what is going on.

Thoughts?

[2020-01-24 19:26] avirtuos commented on #93
I'm marking this as resolved since we haven't received additional details and it seems this make already be fixed. If you are still facing this issue please reopen and we will be happy to assist further.

[2020-01-24 19:26] #93 closed

[2020-01-24 19:28] avirtuos commented on #72
I chatted with @sethtdenney offline and will be raising a PR momentarily with a change that will:
1. Add explicit validation to all connectors to ensure we don't accidentally return unsupported Types. This should surface this issue earlier in connector development for future mismatches.
2. If an unsupported type is encountered for the JDBC connector it will be ignored and we will log an error.
3.

[2020-01-24 20:36] avirtuos commented on #90
Im marking this issue as resolved since it likely relates to account limits now that the stability issues have been identified. The final stability fix is rolling out in the next couple days but doesn't seem to be impacting customer queries. Please reopen if you feel there is more investigation needed.

[2020-01-24 20:36] #90 closed

[2020-01-24 20:37] avirtuos commented on #81
closing issue as it seems we have already pushed the fix. @atennak1 please reopen if you were planning a phase 2 to this.

[2020-01-24 20:37] #81 closed

[2020-01-31 17:28] atennak1 commented on #20
I'm working on this and should have a PR out within a week.  Primary documentation will be in the form of JSON request and response samples also used in unit tests.

[2020-02-02 19:35] nazeemmohammed opened #100 "Query dynamodb with list/map datatypes"
Getting below error when querying dynamodb table with list and map data types. Works fine with regular data types.

[ErrorCode: INTERNAL_ERROR_QUERY_ENGINE] Amazon Athena an experienced an internal error while executing this query. Please contact AWS support for further assistance. You will not be charged for this query. We apologize for the inconvenience.

[2020-02-02 19:36] avirtuos commented on #100
What version of the connector are you using?

[2020-02-02 19:39] nazeemmohammed commented on #100
Query Id: 23bf4c99-cd80-431e-990d-5a092a846a99.
Connector Version - 2020.4.1

[2020-02-02 19:41] avirtuos commented on #100
Thanks.

[2020-02-03 15:57] atennak1 commented on #100
Thanks for opening @nazeemmohammed .  Could you paste the stacktrace from the function Cloudwatch logs?  You should find it under the /aws/lambda/AthenaDynamoDB log group.

Also try re-deploying the connector with a all lowercase name and see if that resolves your issue.

[2020-02-05 14:57] avirtuos commented on #83
@richiverse Per my reply on Dec 18th, can you give us a bit more detail about the use-cases you have in mind? It is my understanding that a typical reason for using BlazingSQL is to exploit the parallelism in the GGPU to achieve extremely low latency SQL queries (usually over a relatively small dataset). Given that the current federation model doesn't support aggregation pushdown and adds non-triv

[2020-02-05 21:33] avirtuos opened #104 "[FEATURE] Release a Python SDK"
**Is your feature request related to a problem? If yes, please describe.**
No.

**Describe the solution you'd like**
I'd like to be able to write my connectors in Python either because I'm more familiar with it or because I have a large amount of existing python code i need to use or because we don't have java build infrastructure and this poses a large barrier to entry for us when writing a custo

[2020-02-06 15:06] nazeemmohammed commented on #100
@atennak1  tried with lowercase name function and it still gives same error. The Query Id: 6fcf5702-cf87-4b2a-b658-1a04e64c2ba6.
I could not see stacktrace in cloudwatch logs under - /aws/lambda/AthenaDynamoDB log group.

[2020-02-12 18:18] 5donuts opened #106 "[QUESTION] Athena TypeORM Tooling"
I have a question that I don't think is related to a bug or feature request.

I would like to use TypeORM with AWS Athena as the backend for it.

I was wondering if there were any internal tools that the AWS Athena team has for working with TypeORM that they would be willing to open source.

[2020-02-12 18:21] avirtuos commented on #106
Can you give a bit more detail about what TypeORM is and how you'd like to use it with Athena? Based on some quick reading I'm assuming you'd like to have TypeORM support Athena has where the data is actually stored? if so, this is not something that is currently in our roadmap and is perhaps a better question for the folks that maintain TypeORM. Anecdotally, most ORMs i've worked with (e.g. Hiber

[2020-02-12 18:43] 5donuts commented on #106
My main goal with TypeORM was mostly to use it as an abstraction layer over a database to avoid having hardcoded query strings floating around the project I'm working on, especially since I anticipate needing to support more than one DBMS.

I was hoping to use Athena as the data store for part of the application as I have already set up an Athena table pointed to some S3 buckets I'm using to store

[2020-02-12 19:25] ryanrupp commented on #106
I think probably first confirm Athena is good for your workload. That is your workload is:

1. Primarily read only
2. Mainly large(r) analytical queries (think aggregations, large table scans across many rows etc.). Also, that you're okay with seconds+ for the response times rather than sub second response times. For instance PK lookups that take micro/milliseconds in a database designed for trans

[2020-02-12 20:00] 5donuts commented on #106
Thanks for the suggestions!

The main reason I was looking at TypeORM is because I could change what backend DB I use easily and I anticipate needing to either support multiple DBMS for this project or to refactor to something that doesn't use Athena and was hoping to do that without having to do any significant work.
But, as you said, a full blown ORM _is_ overkill, since what I'm doing with Athe

[2020-02-12 20:00] #106 closed

[2020-02-12 21:19] avirtuos commented on #106
One more thing I'd mention. If you want to abstract the specific SQL from your app and also want to avoid having SQL hard coded, in the past I've used [StringTemplate](https://www.stringtemplate.org/) for this. Its a pretty powerful templating engine that would easily let you have a DB specific dialect file that you replace values into and load that at runtime from your app either on the class pat

[2020-02-12 23:52] houmark opened #107 "All queries failing: DynamoDB connector"
**Describe the bug**
All queries failing with the DynamoDB connector:

This seems to have started within the last 3 hours.

Maybe this is a temporary issue with the service, but I don't see anything in any health dashboard, so reporting it here to see if anyone can cast light on the exact issue.

[2020-02-13 00:27] avirtuos commented on #107
We are looking into it. Seems like a recent change is causing this. I'll update once our On-Call confirms. ETA for next update is probably 15 minut s.

[2020-02-13 00:45] sethtdenney commented on #107
Roll-back in progress. Will update when rollback is complete.

[2020-02-13 00:49] sethtdenney commented on #107
Rollback complete. We apologize for the inconvenience!

[2020-02-13 00:49] avirtuos commented on #107
Still investigating, will update again shortly.

[2020-02-13 00:50] avirtuos commented on #107
Thanks team. @houmark  can you confirm service is restored for you?

[2020-02-13 01:18] houmark commented on #107
Yes, it seems to be loading again!

[2020-02-13 01:37] avirtuos commented on #107
Great.

[2020-02-13 01:37] #107 closed

[2020-02-14 19:56] avirtuos opened #108 "[FEATURE] Enhance Redis Connector Exception Messages"
**Is your feature request related to a problem? If yes, please describe.**
I'm frustrated when the Redis connector fails with NPEs caused by missing table properties.

**Describe the solution you'd like**
The connector should throw an exception message that describes the missing table properties instead of just assuming they are present and causing an NPE which is tough to diagnose.

[2020-02-14 20:09] #108 closed

[2020-02-18 14:35] billybonks opened #110 "[QUESTION] General question"
I have a question that I don't think is related to a bug or feature request.
I am getting the following error when trying to use the postgres jdbc connection

`Encountered an exception[java.lang.IllegalArgumentException] from your LambdaFunction executed in context[retrieving meta-data] with message[No enum constant com.amazonaws.connectors.athena.jdbc.connection.JdbcConnectionFactory.DatabaseEngi

[2020-02-18 16:29] atennak1 commented on #110
Hi it looks like you connection string my be misconfigured.  It should start with `postgres://` not `postgresql://`

[2020-02-18 17:12] billybonks commented on #110
That seems about right thanks :)

[2020-02-18 17:12] #110 closed

[2020-02-21 10:29] rradman opened #112 "NullPointerException with nested null fields with connector DynamoDB"
**Describe the bug**
The connector works just fine until I try to query a table that has a nested NULL field inside of a JSON object (in DynamoDB its of type 'Map').
An example is bellow.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a DynamoDB table.
2. Create the following item:
[code]
3. Deploy Athena DynamoDB connector.
4. Query the table from Athena console.
4. Error occurs.

*

[2020-02-21 12:02] avirtuos commented on #112
Thanks for raising this. I suspect this is related to the fact that you have null values some fields. The error message needs to be improved though. Since DDB is essentially schema less the connector attempts to infer schema by reading a few rows and looking at the values.

We will take a deeper look and confirm if this is indeed the case and why the connector isn't handling it more gracefully by

[2020-02-21 13:12] rradman commented on #112
[lambda_logs.txt](https://github.com/awslabs/aws-athena-query-federation/files/4236166/lambda_logs.txt)
You can see the logs in the link above.

Your workaround does work for this case, thanks.

[2020-02-21 19:51] avirtuos commented on #112
Created a PR to improve the error messages. The NPE was actually from the error message creation and masked the actual issue (schema inference failure).

[2020-02-24 10:26] rradman opened #115 "java.lang.RuntimeException with nested numbers - DynamoDB connector"
Logs from the lambda function:
[lambda_logs.txt](https://github.com/awslabs/aws-athena-query-federation/files/4244067/lambda_logs.txt)

**Describe the bug**
Having a nested number in DynamoDB causes glue crawler to create an invalid schema, resulting in DynamoDB connector failure.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a DynamoDB table with the following item:
[code]
2. Creat

[2020-02-24 11:45] avirtuos commented on #115
You can manually (without crawler) edit the schema in glue and set the fields to their appropriate type. Have you tried that?

@atennak1 any thoughts on this type mismatch?

[2020-02-24 12:46] rradman commented on #115
I've tried changing it to INT, DECIMAL and TIMESTAMP, none of them worked (same Error).
Example with INT:
`struct<nested_number:int> `
Is that what you suggested?

[2020-02-24 12:47] avirtuos commented on #115
What is it stored as in Dynamo? Seemed like a double in your earlier post. Have you tried double?

[2020-02-24 12:54] rradman commented on #115
I just did, it throws the same error.
In DynamoDB table they look like integers to me (simply 123 and 456), but I'm not sure how to check the actual type. By looking at the table it only says "Number" as type.
Example:
`nested_number Number: 456`

[2020-02-24 12:55] avirtuos commented on #115
Ok, thanks. We will have an engineer look into this.

[2020-02-24 12:56] avirtuos commented on #112
Closing in favor of 115

[2020-02-24 12:56] #112 closed

[2020-02-24 18:50] avirtuos opened #116 "[FEATURE] Improve JDBC Perf"
**Is your feature request related to a problem? If yes, please describe.**
There is a known issue with the jdbc connector that limits it to 64mbps scan rate for tables/engine which are not partitioned. Using partitioned tables unlocks significantly greater parallelism but unpartitioned tables appear to be running into some performance limit related to the JDBC driver (or its config). We are aware

[2020-02-26 16:30] avirtuos opened #117 "[BUG] HBClient Failure (replica 0 offline) with connector hbase"
**Describe the bug**
If I run an Hbase query then wait a few minutes before running another hbase query, my query fails. If i immediate retry the query it suceeds.

**To Reproduce**
Steps to reproduce the behavior:
1. Run an hbase query
2. Wait >1 minute
3. Run a 2nd hbase query - it will fail with an exception about replica 0 offline.
4. Rerun the query and it will succeed.

**Expected behavior**

[2020-02-26 23:14] ankurgupta4891 opened #118 "[BUG] NPE in schema detection with connector DynamoDB"
**Describe the bug**
Having a null value filed in Map attribute will throw NPE when connector tries to generate schema. Connector also stops processing other DDB tables and Athena does not list any tables under DDB catalog.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a DynamoDB table with the following item:
[code]
2. Use a DynamoDB connector from Athena and receive the following

[2020-02-26 23:21] avirtuos commented on #118
This is expected, though the error message has been improved in the lastest commit. We recommend you explicitly define the schema of the table in Glue and not rely on schema inference since we can not infer schema from nulls.

One more question, just incase there is another bug here that I am missing. Are there any rows without the null or do a minority of rows have the null? I ask because maybe w

[2020-02-27 00:55] ankurgupta4891 commented on #118
There are only few rows with non-null value. The use case for actual Map attribute is to store changes in some managed fields where fields are keys and their updates are values in the Map attribute. Unless all the fields are updated in single update, the map attribute would have keys with null value.

It silently fails in Athena console and doesn't show any table or pops-up the exception. I had to

[2020-02-27 01:01] avirtuos commented on #118
I'm surprised you get a silent failure. When I try to replicate i get an error in the console. What browser are you using? And can you share a query id where it happened?

Lastly, let me know if you can try manually creating the table in Glue. The DDB connector will favor the schema from Glue over its own schema inference.

[2020-02-27 17:51] ankurgupta4891 commented on #118
Query ID: 8474564f-4488-46f8-9488-440941b840a4
Browser: Chrome
Version: 80.0.3987.122

[2020-02-27 17:58] ankurgupta4891 commented on #118
I create glue crawler for my test table that had one record
[code]
The crawler added the table successfully with schema:
[code]

But now, connector didn't fetch the data and I see no value in both id and mapfield columns in Athena console.. Below are CloudWatch logs from connector.

[code]

[2020-02-27 20:29] avirtuos commented on #118
Thanks for the update. I'll work to get this analysis and hopefully a fix or doc update prioritized.

[2020-02-27 20:30] avirtuos commented on #118
@soojinj Do you have capacity to take a look at this? I know you've been looking into the DDB connector a lot of late so may be opportunity for you to take on this item.

[2020-02-28 21:47] s4saurabh opened #120 "[BUG] RunTimeException with connector hbase"
**Describe the bug**
I have a EMR/Hbase cluster with a master and 2 spot instances. One of the spot instances was terminated and a new spot instance was launched. After that all queries to hbase connector give the following error:

Your query has the following error(s):

GENERIC_USER_ERROR: Encountered an exception[java.lang.RuntimeException] from your LambdaFunction[hbase] executed in context[ret

[2020-03-02 19:45] soojinj commented on #118
Hi @ankurgupta4891, I wanted to confirm that the columnMapping was added to the glue table once it was registered (Optional table property/parameter columnName https://github.com/awslabs/aws-athena-query-federation/blob/master/athena-dynamodb/README.md ) I see that there are some case differences between the ddb column names vs glue column name (ID vs id for example).

[2020-03-02 20:17] ankurgupta4891 commented on #118
Ah, I didn't. Now the query works in Athena console after adding columnMapping. Thanks.

[2020-03-02 22:31] soojinj commented on #118
@ankurgupta4891  when you were getting NPE with older commit, what did your ddb entry look like for

`{
  "id": "foo",
  "some_object": {
    "field1": 456,
    "field2": null
  }
}`

[2020-03-02 23:54] ankurgupta4891 commented on #118
Earlier, I did not add tables in glue catalog and was letting the connector to auto-discover table schema. I could reproduce it every time when DDB record had null value for field in a Map attribute. It didn't matter how ddb entry look like (lowercase or uppercase), since I was not using Glue catalog.
[code]
The above was my DDB entry when NPE happened and later, I added table to glue catalog.

[2020-03-03 15:31] soojinj commented on #118
Re: I could reproduce it every time when DDB record had null value for field in a Map attribute.
    I am curious to know your exact repro steps to insert a null value in ddb, aside from NPE/glue table.

[2020-03-03 18:06] ankurgupta4891 commented on #118
[code]

[2020-03-03 21:03] s4saurabh commented on #117
Query ID: 2da41a29-16c1-4733-8690-a34f32d989c9

Logs:
2020-03-03 20:56:11 97134b99-f6b3-48ef-a33f-7ce3cb6ae4d5 INFO  HbaseSchemaUtils:104 - inferSchema: family: line col: L_SUPPKEY inferredType: BIGINT
2020-03-03 20:56:11 97134b99-f6b3-48ef-a33f-7ce3cb6ae4d5 INFO  HbaseSchemaUtils:104 - inferSchema: family: line col: L_TAX inferredType: FLOAT8
2020-03-03 20:56:11 97134b99-f6b3-48ef-a33f-7ce3cb6ae4

[2020-03-04 08:55] rradman commented on #115
Hi guys, any progress on this?

[2020-03-04 13:46] avirtuos commented on #115
@rradman , not yet. We are working towards closing all blocking items on the road to General Availability. We have this on our list but it may take some time for an engineer to free up and investigate it.

@soojinj let's chat about if this is something we can fit between your other tasks since you recently investigated a similar issue you might have enough context to make this quick.

[2020-03-04 16:18] atennak1 commented on #115
Non decimal types numeric are only being handled at the top level: https://github.com/awslabs/aws-athena-query-federation/blob/d3b25cb6bef865f51cfd5e19e9d9512b29f48015/athena-dynamodb/src/main/java/com/amazonaws/athena/connectors/dynamodb/DynamoDBRecordHandler.java#L162-L164

Instead of adding more code/branches for nested types, we should apply the Extractor framework to the DDB connector.

[2020-03-04 16:25] avirtuos commented on #115
@soojinj  see akila's comment, this make sense for that issue you are creating.

[2020-03-04 16:40] soojinj commented on #118
Resolving the issue as the NPE is now being exposed with better error message with recent changes. The workaround was to register the table in Glue.

[2020-03-04 16:40] #118 closed

[2020-03-04 19:09] s4saurabh opened #121 "[BUG] body size is too long error with connector hbase"
**Describe the bug**
Some queries running with hbase connector gives error - body size is too long

**To Reproduce**
Steps to reproduce the behavior:

1. Load TPCH dataset lineitem to hbase
2. Load TPCH dataset orders and supplier to mysql aurora

Run this query:
SELECT s_name,
         count(*) AS numwait
FROM "lambda:mysql".sales.supplier, "lambda:hbase".default.lineitem l1, "lambda:mysql".sales

[2020-03-05 00:29] houmark opened #122 "[BUG] Potential wrong results for some queries with DynamoDB connector"
**Describe the bug**
I'm at the risk of sounding really stupid here, but I wanted to check in here, to rule out my theory.

I have a simple query like this one:
[code]

Both fields queried are string/varchar.

That should correctly consider the OR's with the AND, but I seem to get wrong results when doing that. Exactly what it's returning and how the query is interpreted wrong, I am not sure about

[2020-03-05 01:08] avirtuos commented on #122
Can you describe what you are getting in the results vs what you expect? It's also important to call out if any of the queried fields are part of the ddb range or hash key.

[2020-03-05 01:20] houmark commented on #122
Sorry, not sure what the ddb range or hash key means here? Still learning all the basics.

I will try a simpler test case to try to provide expected results vs. actual results. Create a simple table with just a few records, should make it easy to test.

[2020-03-05 01:47] houmark commented on #122
Here's a test case which should be easy to replicate, but if you need more info on our setup in relation to DynamoDB, I'd be happy to provide it private:

Query 1 (wrong result):

[code]

Results returned: phonenumber is always set, all records have status past_due, total records: 28, incorrect amount.

Query 2 (slightly changed AND part to see if first or last OR is used):
[code]

Results: Same r

[2020-03-05 12:11] rradman commented on #115
@atennak1 I've tried the workaround you suggested but it doesn't help - getting the **ResourceNotFoundException** error.
Is there anything else I can try?

[2020-03-05 16:36] avirtuos commented on #122
@houmark Thanks for the added info. We are currently prioritizing items that are required for us to get these features out of 'Preview' and into GA (aka production). This means it might take us a while to prioritize this item but rest assured I consider it a GA blocker and will be addressed before GA. It just might take us a couple weeks to get someone assigned to it as we are closing other bugs a

[2020-03-05 16:40] avirtuos commented on #115
@rradman what is the full error message (it might be in your cloudwatch logs for the lambda function) and can you share the request id that was met with ResourceNotFoundException

[2020-03-05 18:31] #73 closed

[2020-03-05 21:34] atennak1 commented on #122
@houmark could you email me the table schema and some sample data?  I could not replicate this with fake basic/similar data.

[2020-03-05 21:36] atennak1 commented on #122
Also a screenshot of the table details in the DDB Console would help. Thanks.

[2020-03-06 00:00] houmark commented on #122
Thanks for the review @atennak1 — sorry you couldn't replicate it. I will try to send along the requested information by email as soon as I have time (I believe I still have your email from last time).

When you say table schema is that then from AppSync? As mentioned before, we run on Amplify which means I am creating the schema in Amplify which uses Appsync and that creates the DynamoDB table.

[2020-03-06 08:45] rradman commented on #115
[lambda_logs_2.txt](https://github.com/awslabs/aws-athena-query-federation/files/4297346/lambda_logs_2.txt)

The logs you requested.

[2020-03-06 14:20] atennak1 commented on #122
Couple of options for getting the schema:
1. Amplify schema may work for me but I don't know that those look like.  We can start with it.
2. Glue schema if the table is registered there (you can also create a Glue crawler for the table and get the schema out that way)
3. In CW logs for the lambda function, the inferred schema gets logged in the response for GetTable operation, or as the input for

[2020-03-06 14:45] atennak1 commented on #115
Bah it looks like we don't support the decimal type in our Glue schema parser.  Something else we may need to fix.  Sorry for the broken workaround.

Another workaround you can try is to change the type to `struct<nested_number:string>` so that the BIGINTs get outputed as VARCHARs.  You can then CAST to INTEGERs if necessary to filter/function.

[2020-03-09 05:54] vaidykal opened #125 "com.amazonaws.SdkClientException with Postgres JDBC connector"
I created a Federated Data Source to connect to an RDS-Postgres source system. It uses the MultiplexingJdbcCompositeHandler. I am trying to copy the data across from a source table to S3 converting them to Parquet format in that process.

When I run a CTAS command to copy the data across from a particular table (with a simple CREATE TABLE ... SELECT * FROM catalog.SOURCETABLENAME) I get an SdkClie

[2020-03-09 15:22] atennak1 commented on #125
It looks like you may be running the Connector lambda in a VPC?  If so you may need to [setup a gateway endpoint](https://docs.aws.amazon.com/vpc/latest/userguide/vpce-gateway.html).

[2020-03-10 12:57] avirtuos commented on #117
I've started refactoring how we reuse the HBase client to add automatric retries and reconnects.

[2020-03-10 14:29] rradman commented on #115
That doesn't seem to work either because changing nested_number's type to **string** causes the returned value to be **null**.
Example:
`{nested_number=null}`

Anything else I can try?

[2020-03-10 20:50] avirtuos commented on #120
This is related to #117 where in the way the hbase connector attempts to reuse the hbase client is too naive.

[2020-03-10 21:33] avirtuos commented on #121
I think I've figured out where the bug in our apache arrow size calculation logic is. It seems like there is significantly more metadata sent with each Apache arrow 'block' than we expected. In one example with 20 rows of list<struct<bigint,varchar>> we had ~470 bytes of data but 284 bytes of metadata. This meta-data does not appear to be the ApacheArrow schema itself but I'm still investigating e

[2020-03-11 17:14] avirtuos commented on #121
on second thought it looks like the mistake here is not the metadata which is generally fixed at a few hundred bytes depending on complexity of the structures being written. However, it looks like our formula for how we go from binary size to binary json is what is at fault. i'll update again soon with a PR to handle this.

[2020-03-11 19:39] avirtuos commented on #121
I've root-caused this issue as a missconfiguration within Athena. When Athena calls readRecords(...) on the Lambda function one of the settings it passes is the max size (bytes) of blocks that get returned directly via Lambda instead of via spilling to S3. This setting was being calculated incorrectly. That fix will rollout to Athena's preview infrastructure in the next couple days. If you need th

[2020-03-18 14:37] avirtuos commented on #125
@vaidykal any update on the above suggestion from @atennak1 ? Please reopen this issue if the problem persists.

[2020-03-18 14:37] #125 closed

[2020-03-18 14:39] avirtuos commented on #122
@atennak1  @houmark Just wanted to check in on this issue since the implications of such a bug would be substantial, where did we land. Is this persisting?

[2020-03-18 21:31] houmark commented on #122
@avirtuos I'm sorry, I have not had the time to collect the information requested by @atennak1 but I will try as soon as possible (the issue persists here). If I could give you access to my development setup it would be even better and easier for debugging, but I don't know if that's an option?

[2020-03-19 14:07] soojinj opened #128 "[BUG] copyRows does not support DATEMILLI types"
**Describe the bug**
When [copyRows](https://github.com/awslabs/aws-athena-query-federation/blob/master/athena-federation-sdk/src/main/java/com/amazonaws/athena/connector/lambda/data/BlockUtils.java#L458) is called and the block contains a DATE/DATEMILLI vectors (which are currently supported), we come across a type incompatibility issue.

We only support java.time.* types when setting, but when w

[2020-03-20 08:52] danielhaviv opened #129 "[QUESTION] Reusing Athena's Parquet reader"
Hi,
I'm implementing a metadata handler that returns a list of parquet files as the splits.
Is it possible to read Parquet files using Athena's own reader or do I have to implement my own reader?

TY.
Daniel

[2020-03-20 14:50] avirtuos commented on #129
This is a feature that is on our radar, essentially to allow you to implement only the MetadataHandler and to use Athena's internal S3 read capability to any of the supported formats. Unfortunately, for now you'll have to do the parquet reads yourself. The good news is that it is very easy to go from parquet to apache arrow using arrow's built in load from parquet feature.

I'll leave this issue o

[2020-03-26 09:59] danielhaviv commented on #129
This creates another problem as Lambda is limiting the jar size to 50MB and dragging in the parquet-avro & hadoop-commons dependencies bloat the jar to 64MB (working with the Example connector)

[2020-03-26 10:05] danielhaviv commented on #129
I've successfully updated the jar by uploading it to S3 first

[2020-03-26 10:27] danielhaviv opened #131 "[BUG] java.lang.NoClassDefFoundError: org/apache/http/conn/DnsResolver"
I'm modifying the the Example connector to read a single Parquet file (for testing purposes).
mvn package passes without a problem but when running the validate_connector utility it fails with the following stack trace:

[code]

I can include it in my pom, but should I?

[2020-03-26 10:49] danielhaviv opened #132 "[BUG] java.lang.NoClassDefFoundError: com/google/common/base/MoreObjects"
All throughout the project there are debug logging messages such as:

- MetadataHandler.java:doHandleRequest:                    ` logger.info("doHandleRequest: response[{}]", response);`

- ExampleRecordHandler.java:GetSplitsResponse `logger.info("doGetSplits: enter - " + request);`

the toString implementation of these classes requires Guava which is not included in the project.

[2020-03-26 12:59] avirtuos commented on #131
Have you made any changes to the parent pom, the athena-federation-sdk pom, or the pom for the validator?

@sethtdenney can you confirm if the validator works right now or if we broke it inadvertently or if Daniels changes may be affecting the dependency tree.

[2020-03-26 14:35] atennak1 commented on #132
Guava is a dependency in the SDK pom

https://github.com/awslabs/aws-athena-query-federation/blob/master/athena-federation-sdk/pom.xml#L91

[2020-03-26 14:53] danielhaviv commented on #132
You're right, seems I'm dragging in an old version with one of my deps.

[2020-03-26 14:53] #132 closed

[2020-03-27 09:21] danielhaviv commented on #131
Haven't done any changes to the afformentioned poms

[2020-03-27 09:27] danielhaviv opened #133 "[QUESTION] com.amazonaws.services.lambda.invoke.LambdaFunctionException: Expected a MetadataRequest but found class com.amazonaws.athena.connector.lambda.records.ReadRecordsRequest"
I'm following the Example connector code to implement my own connector, and in GetSplitResponse I'm returning the following:

[code]

When running validation I'm hitting the following exception:

[code]
Am I doing something wrong?

[2020-03-27 13:35] avirtuos commented on #129
@danielhaviv Can you give more detail about what you did to circumvent the 50MB jar size? I was not aware of any workaround for this other than shrinking the jar size. Additionally, have you checked to see what is actually in the jar? hadoop-commons is probably pulling in considerably more than you need. If you look at the hbase connector in the repo we run some maven dependency exclusion commands

[2020-03-27 13:39] avirtuos commented on #131
Can you give more info on where this stacktrace is coming from? the full validator output would be useful. This error upon deeper inspection seems to be comming from your lambda function and is being identified by the validator (e.g. the validator is doing its job correctly but your lambda failed valiation).

[2020-03-27 13:43] danielhaviv commented on #129
@avirtuos This is how I'm updating my Lambda function:
[code]

You're right regarding the Hadoop deps, I'll have a look at the HBase connector.

Thanks!

[2020-03-27 13:45] avirtuos commented on #133
@danielhaviv the error seems to indicate that either: you are passing the wrong arguments to the validator or your lambda function is not properly implementing the specification and ReadRecords requests are being routed to the MetadataHandler class. Is it possible for you to share your fork with us?  If you are not able to share it publicly on github you can email me at virtuoso[at]amazon.com

Alt

[2020-03-27 13:47] avirtuos commented on #128
@soojinj do you know what the fix is? I couldn't grok it from the above. It also wasn't clear what problem this manifests as? inability to use that type in a query or just inability to use that function for other purposes outside query path.

[2020-03-27 14:07] avirtuos commented on #129
the final command above succeeds? I'd expect it to be subject to the same 50MB limit. Can you confirm the code actually updated? (maybe put a new log line in the code and do the update). I'm just very surprised this works because its basically the same thing our publish tool does and it the failure we saw were within Lambda not in the S3 upload.

[2020-03-27 15:04] danielhaviv commented on #129
It succeeds, I verified by adding --publish to the update-function-call and it creates a new RevisionId and Version.

You can also see in this screenshot from the Lamdba console that it is 63 MB:
<img width="1203" alt="Screenshot 2020-03-27 at 18 03 07" src="https://user-images.githubusercontent.com/11798914/77769747-4b88a980-7055-11ea-9eac-019e444708ef.png">

[2020-03-27 20:48] atennak1 commented on #129
@avirtuos Looks like direct S3 upload is a [known workaround](https://hackernoon.com/exploring-the-aws-lambda-deployment-limits-9a8384b0bec3). But maybe SAM/SAR is enforcing the limit in our script or SAM/SAR uses the Lambda direct upload API.

[2020-03-28 10:39] danielhaviv commented on #133
@avirtuos I tried the Example connector, uncommented the code inside the methods and ran it, it fails with the same error:```
2020-03-28 13:36:39  INFO  LambdaMetadataProvider:217 - Received response: GetSplitsResponse{splitSize=1, continuationToken='null'}
2020-03-28 13:36:39  INFO  ConnectorValidator:277 - Found 1 splits in batch.
2020-03-28 13:36:39  INFO  ConnectorValidator:301 - Executing ran

[2020-03-28 13:18] avirtuos commented on #133
What class are you setting as the entry point for the Lambda and can you show us the command you are running for validation?

[2020-03-28 13:20] danielhaviv commented on #133
com.amazonaws.connectors.athena.example.ExampleMetadataHandler

`./tools/validate_connector.sh --lambda-func connector_test --schema schema1 --table table1`

[2020-03-28 13:21] avirtuos commented on #133
The error suggests that CompositeRequestHandler is not being used as the entry point but rather MetadataHandler is only.

[2020-03-28 13:22] avirtuos commented on #133
That's the issue, it should be the composite handler which knows when to delegate to either rmatadata or read records.

[2020-03-28 13:36] danielhaviv commented on #133
Got it
:man_facepalming:

Thanks for all the support :)

[2020-03-28 13:36] #133 closed

[2020-03-31 14:00] tharsha18 opened #134 "[BUG] Lambda s3 timeout error with connector AthenaJDBCConnector"
**Describe the bug**
When using the AthenaJDBCConnector to federate Athena to Redshift, some queries have worked fine but several other queries error out with S3 connect timed out error @ ~1min into job start time. I looked at the lambda logs and clearly see that Redshift returned 4M rows and that it is spilling it to spill-bucket in S3 following which i see the error. See the lambda cloudwatch lo

[2020-03-31 14:04] avirtuos commented on #134
Is your lambda function running in a VPC and subnet that has a route to S3? This error usually happens when there is no path to S3. A quick way to check is by adding an S3 vpc endpoint to the subnet in question.

[2020-03-31 14:32] tharsha18 commented on #134
Issue resolved after adding S3 endpoint to the VPC.

[2020-03-31 14:32] #134 closed

[2020-03-31 14:33] avirtuos commented on #131
If you are still having this issue, please reopen this request.

[2020-03-31 14:33] #131 closed

[2020-04-08 09:15] shlomi-viz opened #135 "[QUESTION] Password authentication failed"
I have a question that I don't think is related to a bug or feature request.

Hey,

I'm trying to connect to Postgres RDS with Username and Password that are stored in `secret manger` as JSON. My password has many special characters, like: = - _ % ! +
At the start I got the error:

[code]
I managed to bypass it by changing `%` in my password to `%25`.

But now I'm getting the error:
[code]
I guess

[2020-04-08 13:33] avirtuos commented on #135
I reviewed the code for how we retrieve the secret and then pass it to the JDBC connection. We are not doing any sanitization. The info stored in SecretsManager for RDS credentials is however JSON format so you may need to escape certain special characters within that JSON document to ensure it is properly readable. Let me know if this helps.

[2020-04-12 10:32] shlomi-viz commented on #135
Thanks for the quick response. How can a simulate this? to know what is the value been passed to JDBC? I tried to escape ALL special characters but still got a wrong password error.
Thanks again

[2020-04-13 22:26] soojinj opened #137 "[BUG] type inferrence error with connector DocDB"
**Describe the bug**
when there is a list within a struct there is an error with conversion (tbd on detail)

**To Reproduce**
Steps to reproduce the behavior:
1. create a document with
[code]

2. call getTableRequest
3. call readRecordRequest with inferred schema from #2

**Screenshots / Exceptions / Errors**
[code]

[2020-04-14 12:58] richardhboyd commented on #20
Hey, just checking in on this.

[2020-04-14 13:43] avirtuos commented on #20
Hey @richardhboyd the documentation and code are in a pull request. We are rolling out the changes to Athena fleet then we will merge the PR so that no one is impacted by the cut over. The PR is public so you are welcome to provide feedback.

@atennak1 what's the ETA for merging, last I looked the deployment we needed was already in-progress.

[2020-04-14 21:56] atennak1 commented on #20
Should be able to merge early next week.

On Tue, Apr 14, 2020 at 9:44 AM Anthony Virtuoso <notifications@github.com>
wrote:

[2020-04-15 15:25] #137 closed

[2020-04-15 15:25] soojinj commented on #128
should be addressed with https://github.com/awslabs/aws-athena-query-federation/pull/139

[2020-04-15 20:21] shurvitz opened #140 "[BUG] describe table query will sometimes generate a disjointed schema view."
**Describe the bug**
the SchemaBuilder underlying container for the fields is declared a HashMap, but should be a LinkedHashMap instead. The difference is that a LinkedHashMap maintains the order of the elements in the map.

To illustrate the problem, the following schema list was generated by running a 'describe table' query on the elasticsearch connector (currently in development). Even though,

[2020-04-16 14:50] avirtuos commented on #140
Thanks for filing this @shurvitz . Per our chat, let me know when you raise a PR for the fix.

[2020-04-16 20:47] sethtdenney opened #143 "[FEATURE] Enhance JDBC SAM Template to Configure Catalog Connection Strings"
A given JDBC Connector requires environment variables to be set for each catalog which will be served by the multiplexing Lambda function. These environment variables tell the multiplexing handler how to connect to each catalog's respective data source and currently have to be set manually after deploying the function.

It would be much more ideal to be able to configure these environment variable

[2020-04-16 21:16] soojinj opened #144 "[FEATURE] Use Equality Tester instead of Comparator"
Performance enhancement:

in [ArrowTypeConverter](https://github.com/awslabs/aws-athena-query-federation/blob/master/athena-federation-sdk/src/main/java/com/amazonaws/athena/connector/lambda/data/ArrowTypeComparator.java) we use Comparator. Comparators are great for sorting but they do extra work at times in order to generate the <,=,> output.

We should have an Equality Util instead so that types

[2020-04-17 14:20] avirtuos commented on #140
Thanks @shurvitz , fix has been merged and will go out in the next release.

[2020-04-17 14:20] #140 closed

[2020-04-20 19:33] soojinj opened #147 "[BUG] Handle Non-ISO format Date with connector TPC-DS"
**Describe the bug**
Current connector querying values like "Thu Jan 01 00:00:00 UTC 1998" is not supported

**To Reproduce**
Steps to reproduce the behavior:
1. create test data set that has "date" type with value of format "Thu Jan 01 00:00:00 UTC 1998"

**Expected behavior**
Expected to be interpreted as datetime (with tz)

**Screenshots / Exceptions / Errors**
Unable to set value for field cc_

[2020-04-26 06:27] henrywu2019 opened #150 "[BUG] Make prepare_dev_env.sh to support Ubuntu"
**Is your feature request related to a problem? If yes, please describe.**
Yes

**Describe the solution you'd like**
Use apt instead of yum

**Describe alternatives you've considered**
NA

[2020-04-27 07:17] tkcmada opened #151 "[FEATURE] Add support of TIMENANO and TIMESTAMPNANO"
**Is your feature request related to a problem? If yes, please describe.**
I'm about adding a kdb+ support to athena-jdbc.
I found a big issue here where athena-federation-sdk/src/main/java/com/amazonaws/athena/connector/lambda/data/data/SupportedTypes.java doesn't support TIMENANO and TIMESTAMPNANO minortype.
kdb+ is a famous timeseries-oriented database widely used in financial sector, and nano-

[2020-04-27 11:53] schandrakandi opened #152 "Unexpected field[key1] while expecting[@"
**Describe the bug**
{
  "errorMessage": "Unexpected field[key1] while expecting[@type]",
  "errorType": "java.lang.IllegalStateException",
  "stackTrace": [
    "com.amazonaws.athena.connector.lambda.serde.BaseDeserializer.assertFieldName(BaseDeserializer.java:200)",
    "com.amazonaws.athena.connector.lambda.serde.BaseDeserializer.getType(BaseDeserializer.java:256)",
    "com.amazonaws.athena.co

[2020-04-27 12:26] avirtuos commented on #152
This issue does not contain sufficient information to understand the error or bug you are experiences. Can you please complete the required questions in the template and then reopen the bug.

[2020-04-27 12:26] #152 closed

[2020-04-27 13:47] avirtuos commented on #151
It is great to hear that you are adding a KDB connector. Does KDB offer a native API that does nto go via JDBC? We've seen rather disappointed performance going through the JDBC abstraction vs  federating natively. This does depend heavily on how the JDBC driver was written but it has been our experience that many JDBC drivers have considerable overhead.

As for your request. We will add this to t

[2020-04-27 13:51] avirtuos commented on #151
@soojinj Hey Soojin, you recently added support for new timestamp type. Curious if you can take a peak at this request and give me and idea of this might be small enough to squeeze into slack time you have between the other tasks you are juggling since we are waiting on some input from pm on the other tasks.

[2020-04-27 18:05] henrywu2019 opened #153 "[Feature Request] add support for UUID, JSON etc with connector athena-jdbc"
**Describe the bug**
athena-jdbc doesn't support type of UUID, JSON...which are supported in PostgreSQL

**To Reproduce**
Steps to reproduce the behavior:
 - Create a connector which connects to PostgreSQL with a table having columns of UUID, JSON etc
- In Athena web console, you cannot see the table, and you cannot query at all.

**Expected behavior**
I can see the table and query.

[2020-04-27 18:23] avirtuos commented on #153
Please be specific about which types you'd liked supported. Not all Postgres types are supported in Athena so some types will require coercion. Your request will have a high chance of being prioritized if it contains specific details about your need. For example, are their any types which you need urgently vs the entire type population of postgres?

[2020-04-27 21:23] tkcmada commented on #151
Hi @avirtuos
Thank you for adding this request to backlog.

yes. kdb+ offers Java native API and JDBC driver.

I'm currently rather checking functionality perspective whether Athena federation can integrate my kdb+. ( one issue is described in this ticket )

So I haven't checked performance yet but it may requires to write a native federation connector as your pointing out.

Thanks

[2020-04-27 21:38] avirtuos commented on #151
Seems like you are taking a pragmatic approach. Keep us posted on progress or if you have questions. If you end up open sourcing the connector, I'm sure I can arrange some Athena swag (T-Shirt) to be sent your way. :)

[2020-04-28 09:58] tkcmada opened #154 "[BUG] DATEDAY type is not calculated based on EPOCH but current time with athena-jdbc"
**Describe the bug**
When I use athena-jdbc, a JDBC value which returns java.sql.Date is wrongly shown in result of Athena.
The reason of this bug would be,
athena-jdbc/src/main/java/com/amazonaws/connectors/athena/jdbc/manager/JdbcRecordHandler.java
line 86 : `public static final org.joda.time.MutableDateTime EPOCH = new org.joda.time.MutableDateTime();

This MutableDateTime constructor without a

[2020-04-28 15:57] tudor-a opened #155 "[BUG] Invalid ProjectionExpression - reading a column with reserved keyword with DynamoDB connector"
**Describe the bug**
Unable to read a column named 'key' from a DynamoDB table. The error in Cloudwatch logs says that the attribute name (key) is a reserved keyword in DynamoDB. This issue never occurred with the previous version of the DynamoDB connector (2020.04.01) and I am able to query tables regardless of the table name when using the older version (2020.04.01) of the connector.

**To Repro

[2020-04-28 16:28] atennak1 commented on #155
Suspect this is due to https://github.com/awslabs/aws-athena-query-federation/commit/8009f2efce62bb4bf88fb7006755d9618f30f95b .  Assigning to @soojinj to check

[2020-04-28 16:33] avirtuos commented on #117
released.

[2020-04-28 16:33] #117 closed

[2020-04-28 16:33] avirtuos commented on #120
released.

[2020-04-28 16:33] #120 closed

[2020-04-28 16:33] atennak1 commented on #154
Thanks @tkcmada !  We'll take a look at this when we get the chance.  Or feel free to submit a PR if you have a chance.

[2020-04-28 16:33] avirtuos commented on #121
released.

[2020-04-28 16:33] #121 closed

[2020-04-28 17:57] avirtuos commented on #77
This work has started and we hope to have something to share / test in the next month.

[2020-04-28 18:34] chrishiste commented on #77
+1

I probably won't but If I write a connector I will share the code.

[2020-04-29 08:11] tkcmada commented on #154
@athennak1

I confirmed this issue does NOT happen to 2020.17.1 athena-jdbc for mysql.
So this issue happens to only my developping connector.

Can you tell me one thing ?
I'd like to create my connector under athena-jdbc.
EPOCH field of JdbcRecordsetHandler.java is initialized by new org.joda.time.MutableDateTime() constructor without arg. It should be current time , and it causes my connector to

[2020-04-29 16:40] atennak1 commented on #154
Interesting.  It may be that Athena is no longer using DATEDAY.  Could you paste the federated table schema?  You can find it in your Lambda function's CloudWatch Logs group (e.g. /aws/lambda/mysql2020171)

I think that EPOCH is still defined incorrectly and that's something we should fix.  I did confirm that it's final and not modified/reassigned anywhere.

[2020-04-29 18:28] atennak1 commented on #155
Fixed by https://github.com/awslabs/aws-athena-query-federation/commit/3d043ffd1f5a8a6050a785a00292f7eb56429e9f

We'll cut a new SAR release later this week or next week.  In the meantime you can build and deploy this yourself by following https://github.com/awslabs/aws-athena-query-federation/wiki/How_To_Build_A_Connector_or_UDF#upgrading

[2020-04-29 18:28] #155 closed

[2020-04-30 00:56] tkcmada commented on #154
Hi @atennak1

The cloud watch log of mysql2020171 is attached in the bottom of this comment.

Here is what I found.

(1) 1970-01-02 in "date" type in mysql is shown in Athena as "1970-01-02 00:00:00.000"
(2) But in my connector, the DATEDAY value is shown in Athena as "yyyy-mm-dd" not "yyyy-mm-dd hh:mm:ss.SSS".
(3) If I modified EPOCH field definition to  the following, and my connector could show

[2020-04-30 01:35] henrywu2019 commented on #153
We need UUID and timstamp supported. And UUID is primary key in some tables. Thanks a lot.

[2020-04-30 22:50] s4saurabh opened #157 "[BUG] Redshift Timestamp columns dropped with connector JDBC"
**Describe the bug**
With the new version of connectors pushed to the repo, the new JDBC connector with Redshift solves the query issue to the tables which have timestamp columns but drops any columns with timestamp data type from the output results.

**To Reproduce**
Steps to reproduce the behavior:
1. Goto Redshift
2. Create a table with timestamp/non-timestamp fields - create table tstamp(timeo

[2020-05-01 20:33] atennak1 commented on #157
@s4saurabh you mentioned "new version" which is currently 2020.17.1 but you wrote 2020.04.30 in the Connector Details section.  Could you confirm which version you used?  Thanks.

[2020-05-05 22:28] s4saurabh commented on #157
2020.17.1

[2020-05-07 18:18] mhmdbahja opened #158 "[BUG] reserved keyword: name in DynamoDB Connector"
I configure everything correctly but when I try to run the following query  :

select name,age FROM "test-table"

This error appears in Athena :

Your query has the following error(s)
SYNTAX_ERROR: line 1:28: Column 'name' cannot be resolved
This query ran against the "default" database, unless qualified by the query. Please post the error message on our forum or contact customer support with Quer

[2020-05-07 20:17] atennak1 commented on #158
This was fixed with https://github.com/awslabs/aws-athena-query-federation/commit/3d043ffd1f5a8a6050a785a00292f7eb56429e9f and will be included in the next release.  You can follow [this](https://github.com/awslabs/aws-athena-query-federation/wiki/How_To_Build_A_Connector_or_UDF#upgrading) to deploy the fix before then

[2020-05-07 20:19] #158 closed

[2020-05-07 21:12] JosiahDub commented on #157
This bug is also applicable to Postgres databases as well. timestamp columns cannot be resolved.

[2020-05-07 22:01] samish122 opened #161 "[QUESTION] About Dynamodb connector"
I have a question that I don't think is related to a bug or feature request.

How about pricing by querying DynamoDB through Athena, I know there will be cost per query in Athena
But what about dynamo, how I will be charged, per read capacity units ?

[2020-05-07 22:27] atennak1 commented on #161
If the queried tables are of billing type Provisioned Capacity, there is no extra charge.  Queries will be throttled if they exceed provisioned RCUs.

If the type is On-Demand, then yes there will be [charges](https://aws.amazon.com/dynamodb/pricing/on-demand/) based on the RCUs consumed by the query (currently $0.25 per million RCUs).

[2020-05-07 23:04] #161 closed

[2020-05-11 14:09] shlomi-viz commented on #135
I used this https://docs.oracle.com/javase/8/docs/api/java/net/URLDecoder.html in order to find which characters I needed to escape :-)

[2020-05-11 14:09] #135 closed

[2020-05-11 14:15] shlomi-viz opened #162 "[BUG] Password displayed in plain text in cloudWatch logs with connector Postgres JDBC"
**Describe the bug**
I used secret manager in order to pass the user name and password to the connection string, while looking at the logs I can see the password in plain text.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new Lambda
2. Save username and password in secret manager
3. add the secret to the connection string
4. Use lambda and see the password in the logs.

**Expecte

[2020-05-11 18:54] atennak1 commented on #157
suspect https://github.com/awslabs/aws-athena-query-federation/blob/f693dcd081a00ed460eaf167e2e20965197e2b3f/athena-jdbc/src/main/java/com/amazonaws/connectors/athena/jdbc/manager/JdbcMetadataHandler.java#L232 is returning Timestamp without TZ which corresponds to TIMESTAMPMILLI, but we only support TIMESTAMPMILLITZ in https://github.com/awslabs/aws-athena-query-federation/blob/2c530c56280edc55a07

[2020-05-11 18:57] atennak1 commented on #162
This was fixed by https://github.com/awslabs/aws-athena-query-federation/commit/d580fe74a16a4fcf3d376ea709a814cb6c053dc0 so should be resolved in v2020.17.1+

Can you confirm whether you were using an older version or not?

[2020-05-12 11:46] shlomi-viz commented on #162
Where can I see the version? in the Lambda I have a tag with key: `serverlessrepo:semanticVersion` and value: `2020.4.1`
How to I upgrde?

[2020-05-12 14:34] atennak1 commented on #162
Thanks for confirming.  Simply go to Serverless App Repo and deploy again with the same parameters.  The version is now 2020.19.1.

[2020-05-12 14:34] #162 closed

[2020-05-12 19:30] houmark opened #165 "Some queries failing in the recent week or so"
**Describe the bug**
In the recent week we are seeing some queries failing with a weird error:

Your query has the following errors:SYNTAX_ERROR: line 4:14: Catalog mycatalogname (replaced real name for privacy) does not exist

This query ran against the 'default' database, unless qualified by the query. Please post the error message on our forum or contact customer support with query id.

The abo

[2020-05-12 20:12] avirtuos opened #166 "[BUG] Null 'List' within a Struct fails with all connectors"
**Describe the bug**
It is not possible to read or write a null List field value when the List is part of a Struct.

`2020-04-16 18:00:30 XXXXXXX WARN  CompositeHandler:104 - handleRequest: Completed with an exception.
java.lang.RuntimeException: Error while processing field XXXXX
	at com.amazonaws.athena.connectors.docdb.DocDBRecordHandler.lambda$readWithConstraint$0(DocDBRecordHandler.java:158)

[2020-05-12 20:25] avirtuos commented on #165
@houmark This issue is a bit surprising because this error occurs when our engine can not find your catalog (e.g. your Lambda function information). I have a few follow up questions:

1. Is this truly intermittent meaning it fails sometimes (potentially in bursts) but succeeds without any changes on your end most of the time?
2. are you using the lambda:<function_name> syntax in your queries? or a

[2020-05-12 20:26] avirtuos commented on #165
@sethtdenney Can you take a deeper look at this with Luc so we start to spread this knowledge a bit more?

[2020-05-12 20:31] avirtuos commented on #166
Merged.

[2020-05-12 20:31] #166 closed

[2020-05-12 20:39] houmark commented on #165
Zero changes in our end, our dashboard has not been modified for weeks, but I started seeing this a week ago and it will sometimes fail one chart out of ~20, sometimes, 1 but mostly 3-4.

I am not sure to be honest, but we have a Glue catalog on the tables but the entire thing is quite complex with Amplify in front, doing GraphQL queries, which then are transformed to Athena queries. In the 2-3 mo

[2020-05-13 14:36] avirtuos commented on #165
We have tracked down the main source of this issue and have rolled back the change. Let me know if you do _not_ see error rates recover.

[2020-05-13 14:36] #165 closed

[2020-05-13 16:43] matthorn-repo opened #168 "[BUG] Error running queries in AWS QuickSight with connector athena-dynamodb"
**Describe the bug**
I'm receiving an error trying to run queries against athena dynamodb tables in AWS quicksight. These work fine in Athena so I'm surprised they don't work in quicksight.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to AWS QuickSight
2. Click on 'Manage Data'
3. Click on 'New Data Set'
4. Click on 'Athena'
5. Name the data set and select 'AmazonAthenaPreviewFunctiona

[2020-05-13 18:08] avirtuos commented on #168
Hi @matthorn-repo ,

Can you please provide us with the Athena query id for the above as well as logs from the Lambda function that you deployed the DDB Connector to. Those logs can be found in cloudwatch in your account.

The error message above is a bit surprising to me. If you are not able to share the above info on this GitHub issue, you can email me virtuoso [at] amazon.com

[2020-05-13 18:14] avirtuos commented on #157
@atennak1 is there any meaningful difference between TimestampMilli and DateMilli? they seem to be capable of conveying the exact same thing and we do presently support DateMilli. Could this be as simple as fixing that mapping?

[2020-05-13 18:58] ankurgupta4891 commented on #168
Hi @matthorn-repo,

AWS QuickSight doesn't support Athena data source connectors (AQF feature) yet. The limitation here is, QuickSight is still on old Athena JDBC driver that does not support `catalog` and looks for data in default catalog. QuickSight team is working on Athena data source connectors integration, however there is no official announcement when the support will come out. If possible,

[2020-05-13 19:15] avirtuos commented on #168
Thanks @ankurgupta4891 !

@matthorn-repo , I'm closing this issue for now but please reopen it if you have further questions. We hope this will work for you soon and are actively working with the QuickSight team.

[2020-05-13 19:15] #168 closed

[2020-05-15 22:06] thejavangumalli opened #169 "[QUESTION] When will Federation & UDFs go GA?"
[CLOSE WHEN WE HAVE AN UPDATED DATE FOR GA - @avirtuos ]

I have a question that I don't think is related to a bug or feature request.

Hello,
Maven is not able to resolve the dependency.
 `Cannot resolve com.amazonaws:aws-athena-federation-sdk:2020.20.1 `
Same with version `2019.48.1`
Here is my pom.xml.

[code]

[2020-05-15 22:18] avirtuos commented on #169
Have you built the athena-federation-sdk module? That will install a copy of the missing jar into your local maven cache

[2020-05-15 22:41] thejavangumalli commented on #169
No. Is it not available in the central repository?
When I build it, I get the following error. Is federaion sdk not supported in java 11 yet?
[code]

[2020-05-15 23:24] avirtuos commented on #169
We aren't in central until we go GA. We have not yet certified for Java 11.

[2020-05-16 01:38] thejavangumalli commented on #169
Any idea when it is planned to go out of preview mode?

[2020-05-16 01:44] avirtuos commented on #169
We are working on a date we can share. We are close to code complete and mostly working out the timing of things like pricing, etc...

I hope to have an update for you in a week.  I'll reopen the ticket so you can get notified when I update it with more info.

[2020-05-16 01:45] thejavangumalli commented on #169
Thank you. That means the queries can be run against primary workgroup after the release?

[2020-05-16 01:46] avirtuos commented on #169
Yes, after release queries that use Federation or UDFs can be run in any workgroup.

[2020-05-19 14:03] bknorr001 opened #170 "[FEATURE] Oracle JDBC Support"
Oracle JDBC support to provide broader coverage of relational databases as well as hybrid deployments using privatelink.

[2020-05-19 14:04] bknorr001 opened #171 "[FEATURE] MS SQL JDBC Support"
Microsoft SQL Server JDBC support to provide broader coverage of relational databases as well as hybrid deployments using privatelink.

[2020-05-19 14:10] avirtuos commented on #170
Hi @bknorr001 , thank you for your request. Oracle support is certainly on our radar and isnt yet released while we figure out the licensing for the driver and if/how we'd provide the 1-click deploy experience we have with the other connectors you see in this repository. We will update this request as we get closer to a solution.

As for the second part of your question, can you elaborate on how s

[2020-05-19 14:10] avirtuos commented on #171
Hi @bknorr001 , thank you for your request. Oracle support is certainly on our radar and isnt yet released while we figure out the licensing for the driver and if/how we'd provide the 1-click deploy experience we have with the other connectors you see in this repository. We will update this request as we get closer to a solution.

As for the second part of your question, can you elaborate on how s

[2020-05-19 14:32] bknorr001 commented on #170
Thanks for taking a look @avirtuos. Hopefully, I didn't confuse things too much with my privatelink comment, but the use case I was trying to convey is adding the ability for Query Federation to connect to commercially licensed databases like Oracle and MS SQL on customer premise.

[2020-05-19 15:14] avirtuos opened #172 "[BUG] SchemaInferrence StackOverFlow with connector athena-docdb"
**Describe the bug**
When running a query over a collection in DocumentDB which contains an empty list, the docdb connector will throw a StackOverflowError exception because of a flawed assumption around how type erasure works.

java.lang.StackOverflowError
	at java.lang.ReflectiveOperationException.<init>(ReflectiveOperationException.java:89)
	at java.lang.reflect.InvocationTargetException.<init>

[2020-05-19 15:24] avirtuos commented on #170
That makes sense. The location of the database will not matter as long as your lambda function has network connectivity (and likely DNS resolution of) your intended target.

[2020-05-19 17:06] #172 closed

[2020-05-20 19:19] maannaash opened #174 "[Question] Sample redshift connection string"
Can someone provide a sample redshift connection string? I have tried following :

default - redshift://jdbc:redshift://<REDSHIFT JDBC URL>:5439/<DATABASE NAME>?user=<USERNAME>&password=<PASSWORD>
But I keep getting error - "Must provide default connection string parameter default for database type postgres: java.lang.RuntimeException"

[2020-05-20 20:34] avirtuos commented on #174
I dont think the format of your connection string is the issue. This error suggests that your are not setting the appropriate environment variable on your Lambda function. What was the name of the environment_variable that you used? and what was the catalog name used in your query when you received this error?

[2020-05-20 21:35] maannaash commented on #174
The environment variable name that I am using is default. Since I am connecting to one database I also changed my handler to  -
 com.amazonaws.connectors.athena.jdbc.postgresql.PostGreSqlRecordHandler
My catalog name is redshift1.

Below is the cloudwatch log for lambda function
Must provide default connection string parameter default for database type postgres: java.lang.RuntimeException
java.lan

[2020-05-21 14:57] avirtuos commented on #174
We might have a typo in our documentation, can you try setting an env variable on your Lambda function of redshift1_connection_string? Basically the connection string should be in an environment variable of the format {$catalog_name}_connection_string. There is also supposed to be an ability to use a failsafe of default but that doesn't seem to be working for you either because of a typo in our do

[2020-05-21 17:27] maannaash commented on #174
Thanks for the update. I did try adding redshift1_connection_string and providing the connection sting in this as an environment variable but I still keep getting same error. Please note that I have single database so as per documentation I replaced the lambda function function handler to - com.amazonaws.connectors.athena.jdbc.postgresql.PostGreSqlRecordHandler as per the documentation. I am not u

[2020-05-21 18:09] ray-pan-bci opened #175 "[QUESTION] General question COMPILATION ERROR"
I have a question that I don't think is related to a bug or feature request.

<Describe your question>
What I wanted to do is to deploy this lambda using terraform. Seems the prerequisite is to get the target/athena-dynamodb-1.0.jar file. So I took an approach of mvn clean install as instructed. How ever I got this error when do the first mvn clean install step at dir athena-federation-sdk:

ERROR

[2020-05-21 19:08] avirtuos commented on #175
I'm not sure why your environment was unable to find that particular dependency but I'm also surprised we had that dependency on UnsupportedDataTypeException. I've prepared a PR which changes it to a core java exception of UnsupportedOperation(...)

https://github.com/awslabs/aws-athena-query-federation/pull/176

This is now merged so if you update your local branch you can try rebuilding and lets

[2020-05-21 19:09] avirtuos commented on #175
Also, have you considered deploying using Serverless Application Repository instead of building from source? I'm not very familiar with TerraForm but can't you use it to deploy a ready-made SAM application in Serverless Application Repository?

[2020-05-21 19:31] ray-pan-bci commented on #175
Merged your new changes and now "build sucess" Thank you

And yes I was able to deploy the connector using SAM but I am just trying to find anther way to deploy it as code. Thanks a lot

[2020-05-21 21:41] avirtuos commented on #175
Happy to help. let us know if you have other questions or need any help.

[2020-05-21 21:41] #175 closed

[2020-05-22 13:22] apprithm commented on #153
I encountered the same issue today.
I also have some tables were using UUID and timestamp,  the athena-jdbc-connector will fail to map those columns.

[2020-05-22 16:25] abhijeetvg commented on #174
@maannaash This looks like a validation bug when Redshift engine is configured with the database specific handler. While we work on a fix, you may be able to unblock by using Multiplexing handlers. See [multiplexing handler parameters](https://github.com/awslabs/aws-athena-query-federation/tree/master/athena-jdbc#Multiplexing-handler-parameters) for more details.

[2020-05-26 04:41] tkcmada opened #177 "[QUESTION] Null value in ARRAY is possible ?"
I have a question that I don't think is related to a bug or feature request.

This is related to my developping connector. Not public connector.

Let's say kdb+ returns array of Java long type as a a column value of one row.
See below bid_amounts column.
I could pass bid_amounts to ARRAY in Athena by using Apache Arrow UnionListWriter.

There is one problem about null alue in ARRAY.
kdb+ can inclu

[2020-05-26 04:58] tkcmada opened #178 "[Feature] Function for table data"
**Is your feature request related to a problem? If yes, please describe.**

Some data source (i.e. kdb+) has function which returns table data.
I'd like to call it in Athena federated query connector.

**Describe the solution you'd like**

I'd like to describe it in SQL like following.
And then I'd like federated SDK to tell my connector to invoke such a function.
[code]
Do you have any plan to su

[2020-05-26 05:20] tkcmada opened #179 "[FEATURE] View support for federated data sources"
**Is your feature request related to a problem? If yes, please describe.**
When we have various data sources including federated data sources and want to join them,
currently we can write SELECT SQL joining them.
But from self discovery of data sources , it's better to register VIEW which joins multiple data sources.

**Describe the solution you'd like**
Allow the use of federated sources within a

[2020-05-26 12:04] pvieito commented on #153
We also would like UUID and JSONB support from PostgreSQL (both could be coerced to VARCHAR).

[2020-05-26 12:05] pvieito commented on #104
Big +1

[2020-05-26 12:06] pvieito commented on #77
+1 here!

[2020-05-26 12:22] pvieito opened #181 "[BUG] GENERIC_INTERNAL_ERROR with JDBC connector on PostgreSQL database"
I am trying the JDBC connector with a PostgreSQL database and while in general is works, on some views I got the following error:

[code]

This view schema types on PostgreSQL:

[code]

**Connector Details:**
 - Name: AthenaJdbcConnector
 - Version: 2020.19.1
 - Athena Query ID: faedcd4b-5d82-4ae0-99a0-48ab2d29b3cb

[2020-05-26 15:18] maannaash commented on #174
I tried with the Multiplexing handlers but still it is not working.

Even with Multiplexing handler when I used my environment variable as redshift1_connection_string(and did provide and default) then the I get error as "Default connection string must be present". This validation is in DatabaseConnectionConfigBuilder.java:80 which is causing it.

And with Multiplexing handler when I provide the de

[2020-05-26 15:19] avirtuos commented on #177
Currently, null items within a list are 'ignored'. I don't believe this is the _best_ behavior and likely represents an area where we could be doing something better. I've not yet looked to see if Arrow supports null items within lists but I'd be surprised if they didn't.

[2020-05-26 15:22] avirtuos commented on #178
This is on our radar but not yet supported. I'll keep this request open to track the feature request.

[2020-05-26 15:25] atennak1 commented on #179
Thanks for submitting.  We'd certainly like to support this in the future.  Keeping open for prioritization.  +1 if you're affected.

[2020-05-26 17:30] avirtuos commented on #181
Can you provide us with the logs from the Lambda function in cloudwatch? if those logs contain information which you are not comfortable sharing on GitHub you can email me virtuoso[at]amazon.com or you can raise a support ticket via AWS Support.

[2020-05-26 17:33] avirtuos commented on #77
Good news, our initial work on this connector is now in PR. There is still work to be done but happy to share some of the process.

[2020-05-27 09:42] pvieito commented on #181
Thanks, I've just opened a support ticket at AWS with Case ID 7042545541.

In general, is there any environment variable to enable more verbose logs?

[2020-05-27 14:02] pvieito commented on #181
Totally unrelated question, have you modified the required permissions to use federated queries? Today I got this message which did not appear yesterday:

[code]

I added the resource to the IAM policy and it seems to be working but it seems that the resource nor the action are not recognized by the IAM editor.

[2020-05-27 15:16] avirtuos commented on #174
@abhijeetvg Any progress looking into this?

[2020-05-27 17:20] avirtuos commented on #181
We have not made any changes to the IAM permissions.

[2020-05-27 23:33] tkcmada commented on #177
Hi @avirtuos

Actually, I don't mind if Athena doesn't show NULL value in ARRAY in console as I can convert ARRAY to VARHAR by array_join(ary, delimiter, null_representation) function.

Can null value in ARRAY be passed around spill-bucket and athena-result-bucket ?
It seems that null value in ARRAY is ignored completely and not written into UnionListWriter in BlockUtils#writeList.

com.amazonaws.

[2020-05-28 09:26] pvieito commented on #179
+1

[2020-05-28 13:31] avirtuos commented on #179
I updated the description a bit so that when this issue is picked up, the Athena engineer will have a better understanding of what functionality is missing within our engine to support this.

[2020-05-28 13:33] avirtuos commented on #177
My comment was not about the console, but rather about where we write the data to Apache Arrow within the connector SDK. Today we ignore NULL entries in lists.

[2020-05-28 13:33] #177 closed

[2020-05-28 17:02] SeanPrendi opened #182 "[QUESTION] Using Glue metadata with Dynamo connector"
Hi there, I don't understand how to use the DyanmoDB connector with glue metadata instead of the connector's schema inference. I have outlined my situation in this stackoverflow question: https://stackoverflow.com/questions/62067271/how-to-use-aws-glue-metadata-in-queries-with-the-dynamodb-athena-connector

But I will copy-paste it here in case it's helpful:

I am trying to use the Athena Federate

[2020-05-28 17:22] atennak1 commented on #182
The [Something] should equal the Glue database that the table is under.  For example, if the crawled table mytable is under the 'default' database, then the query should be `SELECT * FROM "lambda:<connector>".default.mytable`.

If this doesn't work, please provide your AWS account number and Lambda CloudWatch logs.  You can email them to me (tennakoo[at]amazon.com) or you can raise a support ticke

[2020-05-29 00:40] mariaines opened #183 "[QUESTION] Right way to deal with provisioned/autoscaling RCUs"
I have a question that I don't think is related to a bug or feature request.

Hi,

What's the right way to deal with provisioned read capacity when using the DynamoDB connector? I have autoscaling on my tables, and when testing out the connection in Athena, I quickly spiked our usage due to the scans, leading to some production "throughput exceeded" errors :(  Is it possible to configure a percent

[2020-05-29 14:39] SeanPrendi opened #184 "[BUG] Queries fail on tables with array-of-struct type with DynamoDB Connector"
**Describe the bug**
It seems like the DynamoDB connector breaks when it encounters a field with the array-of-struct type. This seems to be intimately connected with the issue that I was facing in #182. We currently managed to bypass this issue to an extent by using DDL to define copies of the offending tables with the array-of-struct fields ignored. Interestingly, based on CloudWatch logs it seem

[2020-05-29 14:42] SeanPrendi commented on #182
Hi, sorry for the late reply. Unfortunately I had tried that and it didn't quite work, I can't send that info over right now but I've made a bug report (#184) detailing a bug that we've discovered which is seemingly highly related to why that didn't work.

[2020-05-29 15:07] avirtuos commented on #184
@atennak1 and @soojinj any thoughts on this? I think you are most familiar with this code path.

[2020-05-29 16:06] SeanPrendi opened #185 "[BUG] Weak date format parsing with DynamoDB Connector"
**Describe the bug**
The date parsing in the DynamoDB connector seems to be very weak, causing some inconsistencies and issues, with little ability to control it manually. Specifically, if we use the tables schema inference for parsing dates, our date format seems to be parsed as a string. It doesn't seem like there's any way to specify a date format with manually specifying the table schema. When

[2020-05-29 22:53] atennak1 commented on #185
We initially planned to do dynamic parsing at the Item level, but this was too much of a performance hit.  Now that we know there are mixed-format cases out there, we can consider making this a configuration parameter for those willing to take the performance hit.

[2020-05-29 23:00] atennak1 commented on #184
Was there a stacktrace printed with `doGetTable: Unable to retrieve table [table] from AWSGlue in database/schema [database]. Falling back to schema inference`?  If so could you provide it?

[2020-05-29 23:06] atennak1 commented on #183
Currently, the only way to mitigate this is to set a low [reserved concurrency](https://docs.aws.amazon.com/lambda/latest/dg/configuration-concurrency.html#configuration-concurrency-reserved).  This will reduce parallelization and should reduce RCU consumption to a degree.

[2020-06-01 06:44] shlomi-viz commented on #157
I'm also facing a similar issue. I'm using `athena federated query` to fetch data from Postgres RDS with Athena. Version: `2020.19.1`. When I tried to query a table that has a column of type `timestamp with time zone` I get all other columns except this one.
Are there any plans to support this?

Thanks.

[2020-06-01 06:50] shlomi-viz opened #186 "[FEATURE] Add support for postgres array column"
**Is your feature request related to a problem? If yes, please describe.**
Array type (for example: `text[]`) is not support, while trying to query the table (any column) I get `GENERIC_INTERNAL_ERROR: Index: 0, Size: 0` , I would like to be able to query this type of column.

**Describe the solution you'd like**
Fetch data from `array` column

[2020-06-01 13:41] SeanPrendi commented on #184
Sorry for the late response, here is the stacktrace for that warning:

Let me know if anything else would be useful and I will try to provide it.

[2020-06-01 16:38] mariaines commented on #183
Thanks @atennak1, that is helpful, I'll try that out.

[2020-06-02 14:10] #183 closed

[2020-06-04 20:22] atennak1 commented on #184
https://github.com/awslabs/aws-athena-query-federation/blob/d6e9b8391c1658a9c82d8243578515e54759f33c/athena-federation-sdk/src/main/java/com/amazonaws/athena/connector/lambda/metadata/glue/GlueFieldLexer.java#L85-L89

Looks like when it comes to Lists we only go one level deep.  And `arrayType.getValue()` is null for some reason

[2020-06-05 21:38] abhijeetvg commented on #174
@maannaash I was unable to reproduce this issue on my setup.

Followed steps:
1. Create data sources in Athena (`redshift1`, `redshift2` - both point to same Lambda Redshift connector). See [instructions here](https://docs.aws.amazon.com/athena/latest/ug/connect-to-a-data-source-lambda.html).

I used a single Lambda (recommend using SAR to deploy) with following properties:

* Handler:
[code]
* En

[2020-06-06 06:08] akshaybadekar29 commented on #152
Hi Schandrakandi

Did this issue got resolve for you, I am facing the exact same.
Please let me know what is the solution

[2020-06-09 01:52] jiamo commented on #153
In one database have many tables. But even we want join a table without uuid. It still failed , seem it parse all table field?

[2020-06-11 11:13] pvieito commented on #77
Great! Unfortunately it seems to not be working with Elasticsearch 6.X:

Query:
[code]

Error:
[code]

[2020-06-11 15:34] atennak1 opened #188 "[BUG] Elasticsearch Connector: request contains unrecognized parameter: [ignore_throttled]"
Opened on behalf of @pvieito

**Describe the bug**
[code]

**To Reproduce**
Steps to reproduce the behavior:
`describe federation_elasticsearch.exaple_domain.example_index;`

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots / Exceptions / Errors**
If applicable, add screenshots, exception stack traces, or error messages to help explain your probl

[2020-06-11 16:20] shurvitz commented on #188
@pvieito, can I have the exact Elasticsearch version that you are using?

[2020-06-11 16:22] pvieito commented on #188
@shurvitz Sure!

[code]

[2020-06-11 18:15] shurvitz commented on #188
@pvieito,
Sorry to hear you're experiencing this issue.

It looks like the **ignore_throttled** parameter was added to Elasticsearch V6.6 (first as a beta functionality and officially incorporated in V6.7) to be able to search frozen indices:
https://www.elastic.co/guide/en/elasticsearch/reference/6.6/searching_a_frozen_index.html
https://www.elastic.co/guide/en/elasticsearch/reference/6.7/searchi

[2020-06-11 20:57] atennak1 commented on #188
Looks like the Rest client isn't compatible in either direction (using client 6.5.4 did not work with server 7.4 either).  We'll have to implement some kind of dynamic client loading.

[2020-06-12 10:31] YakobovLior commented on #77
Hey @atennak1,
Thank you for the update, I will give a try with ElasticSearch 7.5.2 in a few days and update.

Lior

[2020-06-15 18:49] joshuanapoli commented on #184
Will you be able to go deeper than one level, or is a limitation of the platform?

[2020-06-15 20:50] atennak1 commented on #184
Should be do-able.  This bug fix is in queue for someone on our team to pick up.

[2020-06-16 14:20] avirtuos opened #191 "Vulnerability in dependency"
com.google.guava:guava vulnerability found in athena-federation-sdk/pom.xml
Upgrade com.google.guava:guava to version 24.1.1 or later. For example:

<dependency>
  <groupId>com.google.guava</groupId>
  <artifactId>guava</artifactId>
  <version>[24.1.1,)</version>
</dependency>
Always verify the validity and compatibility of suggestions with your codebase.

Details
CVE-2018-10237

[2020-06-16 21:30] #191 closed

[2020-06-16 21:32] avirtuos commented on #188
@atennak1 somewhat hacky but I wonder if we can make the client version a build-time choice (assuming the code / interfaces didnt change) and then from the one code base we can publish a 6.x and a 7.x flavor of the connector to app repo. Thoughts?

[2020-06-16 22:03] shurvitz commented on #188
@avirtuos unfortunately the REST client API is significantly different between 6.x and 7.x. However, maybe with a build-time choice for dependencies in combination with an environment variable, we can support 2 different clients at run-time.

[2020-06-18 07:32] shlomi-viz commented on #186
Any updates? maybe an estimation on when this could be fixed? Thanks

[2020-06-18 14:09] pian0 opened #195 "[BUG] Illegal hex characters in escape (%) pattern with connector JDBC"
The data connector logs an exception if the password in secrets manager contains a hex escape sequence. Automatic password rotation in secrets manager can contain % as a special character. I'm filing this as a bug because the documentation strongly recommends using Secrets Manager with rotation, but some passwords that will be generated cause the connection to bomb.

**To Reproduce**
Steps to repr

[2020-06-18 18:22] avirtuos commented on #186
Hi @shlomi-viz I dont have a date I can commit to at the moment, we are focused on getting this to production (GA) and then will start burning down enhancements more aggressively.

[2020-06-18 18:22] avirtuos commented on #195
Thanks for raising this.

[2020-06-18 18:39] avirtuos commented on #195
I actually think I have a fix ready. Are you comfortable building and deploying a connector from code using our tutorial ( https://github.com/awslabs/aws-athena-query-federation/wiki/How_To_Build_A_Connector_or_UDF )?

If yes, here is the pull request that you can apply to your local branch.

https://github.com/awslabs/aws-athena-query-federation/pull/196

[2020-06-19 22:55] dustinfarris commented on #170
Does anyone know if there's an open source connector out there for Oracle?

[2020-06-20 05:55] freemanlutsk opened #197 "[QUESTION] UDF Connector, encrypt/decrypt - not working."
Hi

`USING FUNCTION compress(col1 VARCHAR) RETURNS VARCHAR TYPE LAMBDA_INVOKE WITH (lambda_name = 'tmp') SELECT compress('StringToBeCompressed')` - **works as expect**.

`USING FUNCTION encrypt(col VARCHAR, secretName VARCHAR) RETURNS VARCHAR TYPE LAMBDA_INVOKE WITH (lambda_name = 'tmp') SELECT encrypt('plaintext', 'athena_user_defined_functions')` - **finished with the following error:**
[code]

[2020-06-22 10:10] #197 closed

[2020-06-24 07:07] shlomi-viz opened #198 "[QUESTION] How to query JSON column"
What is the best way to query JSON column? now I'm getting the error
[code]
Can I make minior changes to my setup or query to get this info? or do I have to create a new view that will convert this JSON to text and then query the view?

Thanks

[2020-06-24 18:42] atennak1 commented on #198
Hi @shlomi-viz , could you verify which connector/database you're referring to?

[2020-06-29 16:53] shlomi-viz commented on #198
@atennak1 any suggestions? thanks

[2020-06-29 20:20] shlomi-viz commented on #181
@pvieito did you managed to fix this error? I'm getting a similar error when trying to query a table that has an `ARRAY` column

[2020-07-11 19:26] edgarklerks opened #215 "[BUG] Datacatalog name cannot be prefixed with lambda: in Athena with connector JDBCConnector"
**Describe the bug**
The athena datacatalog data source name requirements clashes with the default connection string. This causes the AthenaJdbcConnector SAM unusable from cloudformation.

Name of data source specification:

 Use up to 127 characters and must be unique within your account. It cannot be changed after creation. Valid characters are a-z, A-Z, 0-9, _ (underscore), @ (at) and - (hyphen

[2020-07-11 19:26] edgarklerks commented on #215
Workaround is to give the datacatalog a different name and adjust the name manually.

[2020-07-14 21:18] gmsharpe opened #216 "[QUESTION] New Connectors 'wishlist' or 'roadmap'"
I have a question that I don't think is related to a bug or feature request.

Is there a 'wishlist' or 'roadmap' for new connectors published somewhere?  I'm looking for another side project and I happen to also be evaluating Athena's Federated Queries for my day job.

[2020-07-15 13:13] drone-ah commented on #152
In case it helps someone else.

I was getting this error when running the lambda using the test button. However, when I was accessing it from Athena, the error was different, and logged to CloudWatch.

In my particular case, I needed to add an environment variable in the lambda of the form

`{$catalog_name}_connection_string` with the value of the connection string.

https://github.com/awslabs/aws

[2020-07-16 19:08] henrywu2019 commented on #198
JSON is very useful type in Postgresql. Would like to know the answer too.

[2020-07-16 19:11] avirtuos commented on #198
Is the type of the column 'JSON'? if so, we do not presently support that data type. We can keep this issue open as a feature request but it is also worth noting that if this is a high value feature for you we can provide guidance for you to make the code change. Depending on how you envision using the field, it may not require any changes within Athena if you can map it to an existing type.

[2020-07-16 19:14] avirtuos commented on #216
We are not yet publishing a roadmap of new connectors. The closest to a wishlist would be the currently open feature enhancements. I couldn't tell from your description but are you looking to build a new connector and wondering what might be a useful one to build that we aren't currently working on?

[2020-07-16 19:34] gmsharpe commented on #216
Hi Anthony!  Yes, sorry for not clarifying.  I am interested in starting a new connector to get a feel for the process, framework and such from the ground up.  If you have any ideas, let me know.

[2020-07-16 19:40] avirtuos commented on #216
Cassandra or accumulo might be interesting connectors to consider. A way to run a query against Flink is another interesting one though more complex since Flink query (e.g. query over a stream) lifecycles are much different than Athena.

[2020-07-16 19:40] #216 closed

[2020-07-16 19:43] gmsharpe commented on #216
Awesome.  Thank you.  All sound interesting.  I'll let you know if I get anything off the ground.

[2020-07-16 19:53] henrywu2019 commented on #198
Yes. That is one of the reasons why we use Postgresql. Athena also supports JSON in a built-in way, so why not just map to Athena's JSON? It looks perfect at first glance. May I know anything prevents us from doing that?

[2020-07-16 20:39] avirtuos commented on #198
It's possible but will require work on both the SDK and on the Athena side.  The SDK is open source so you can make changes there if you need this before we get to do it but changes within Athena will have to wait for our team.

[2020-07-16 20:51] henrywu2019 commented on #198
Why it needs changes on the Athena side since Athena supports JSON? I am not very familiar with the SDK. What changes are required on the SDK side?

[2020-07-17 14:42] avirtuos commented on #215
lambda: is a reserved prefix you can only use it when _not_ registering a data source.

[2020-07-17 14:42] #215 closed

[2020-07-17 14:42] avirtuos commented on #198
Our SDK currently only supports a subset of Apache Arrow data types. When we add support for new/more of these types it often required changes in both the SDK and Athena. JSON would require changes on both sides.

[2020-07-17 15:51] atennak1 opened #218 "Centralize or standardize type inference logic"
i.e. [this](https://github.com/awslabs/aws-athena-query-federation/blob/master/athena-dynamodb/src/main/java/com/amazonaws/athena/connectors/dynamodb/util/DDBTypeUtils.java#L72) and [this](https://github.com/awslabs/aws-athena-query-federation/blob/master/athena-docdb/src/main/java/com/amazonaws/athena/connectors/docdb/SchemaUtils.java#L73) to prevent/reduce repeated fixes like https://github.com/

[2020-07-19 12:09] BernardOrzechowski opened #219 "[QUESTION] Column descriptions in Athena UI"
I have a question that I don't think is related to a bug or feature request.

I deployed some of your examples (athena-example, dynamodb) but in none of them the table columns are displayed in Athena UI.

I was writing my own connector,though that I have a bug, but the reference code you provide (MetadataHandler/doGetTable) doesnt produce the right metadata needed in the UI.

Take a look at the at

[2020-07-21 20:30] #26 closed

[2020-07-21 20:52] avirtuos commented on #219
I believe this is an intentional issue. There were some challenges with the time it took for these fields to populate so they were left blank in the UI for now. I'll keep this issue open for us to confirm when this will be fixed / supported.

[2020-07-22 20:10] gmsharpe opened #221 "[QUESTION] General question"
I have a question that I don't think is related to a bug or feature request.

I apologize in advance if this is a particularly annoying kind of question.  I'm not sure where to inquire about release timelines, though.  Does the team have any target in mind for promoting this service out of Preview status?

I think a UDF would be perfect for some of the use cases I have at work right now.  I likely

[2020-07-22 20:50] avirtuos commented on #221
If you email me at virtuoso [at] amazon.com, I'll put you in touch with our product manager who can give you a better answer to this question. Probably the safest thing I can say is that I expect us to meet your timeline and if we don't ... I'll be pretty surprised/disappointed.

[2020-07-22 20:50] #221 closed

[2020-07-24 11:38] zebehringer commented on #5
Is there currently an easy way to take the _constraints_ and _partitionCols_ parameters from the GetTableLayoutRequest and convert them to the SQL _expressions_ param in [AwsGlue.getPartitions](https://docs.aws.amazon.com/cli/latest/reference/glue/get-partitions.html)? If not, would the completion of this issue solve that?

[2020-07-29 11:34] batrahs opened #223 "[BUG] END_OBJECT: java.lang.IllegalStateException with connector JDBC MySQL"
**Describe the bug**
JDBC MySQL connector is failing with exception "END_OBJECT: java.lang.IllegalStateException"

**To Reproduce**
1. Create Data Source for MySQL
2. Try to connect to this DataSource in Athena console
3. No Databases will be displayed and in Cloud Watch log for lambda you will get this error

Error may be with other JDBC data sources as well. However i have checked with mySQL and

[2020-07-29 14:54] avirtuos commented on #223
@burhan94 can you run with this issue? Get a second opinion from @atennak1 if you need it. I'm worried this is indicative of a non-backwards compatible serialization change from when we enhanced FederatedIdentity.

@batrahs What version of the connector are you using? latest is not a version I recognize, please confirm the specific version. If you are unsure how to do that, you can check the tags

[2020-07-29 14:55] laurentclisson commented on #197
Hi, I have the same error, how did you solve this?
Best regards

[2020-07-29 14:56] avirtuos commented on #182
closing in favor of #184

[2020-07-29 14:56] #182 closed

[2020-07-29 14:58] avirtuos commented on #174
@drone-ah, this issue appears to be stale (no reply in > 20 days) and we have not be able to reproduce. Please reopen if you have tried the above suggestions and can still not get this to work. Thanks.

[2020-07-29 14:58] #174 closed

[2020-07-29 15:00] avirtuos commented on #129
The vertica connector (in PR) has a working Parquet reader implementation. It might serve as a good reference / workaround until we support meta-data only connectors.

[2020-07-29 15:04] freemanlutsk commented on #197
Hi @laurentclisson
Yes, problem was with the secret, it should be as plaintext and in base64 encode.
For e.g.

![image](https://user-images.githubusercontent.com/1715968/88817114-cb6e7e00-d1c5-11ea-9113-015345891360.png)

[2020-07-29 16:20] laurentclisson commented on #197
Thank you

[2020-07-29 16:47] danielhaviv commented on #129
Correct me if I'm wrong, but from what I understand the only implementation
of a Parquet reader is through S3Select

On Wed, Jul 29, 2020 at 6:01 PM Anthony Virtuoso <notifications@github.com>
wrote:

[2020-07-29 19:19] avirtuos commented on #129
Nope, you are correct. I'm chatting with the engineer about it right now as it was my understanding we are doing Parquet natively from within the Lambda. I'll update here once we square that away. I wouldn't recommend using S3 Select purely for transcoding as the Vertica connector is presently doing in that PR.

[2020-07-29 22:40] batrahs commented on #223
@avirtuos lambda version in tags is 2020.19.1. However i have recompiled JDBC connector from latest repo "c233704" and updated lambda and it breaks it.

[2020-07-30 15:50] atennak1 commented on #223
Looks like need to release the Athena-side changes first and that's already in progress and should finish soon.  Will keep this issue updated.

[2020-07-30 17:09] VISHAL-PERIYASAMY commented on #223
[BUG] Expected field name token but got END_OBJECT: java.lang.IllegalStateException
java.lang.IllegalStateException: Expected field name token but got END_OBJECT
at com.amazonaws.athena.connector.lambda.serde.BaseDeserializer.assertFieldName(BaseDeserializer.java:221)
at com.amazonaws.athena.connector.lambda.serde.BaseDeserializer.getNextStringField(BaseDeserializer.java:82)
at com.amazonaws.athen

[2020-07-30 19:01] atennak1 commented on #223
Using the releases in Serverless App Repo or checking out commit 81eab5ca025b4ab1828d1ecc129e8148afeca2c4 should unblock you

[2020-07-30 21:30] burhan94 commented on #223
I've reverted the latest commit for now. In the future, please use the commits with release tags when using this package.

[2020-07-30 21:30] #223 closed

[2020-07-31 15:21] fallonbrianmr commented on #184
Facing same issue for the DocumentDB connector whenever I include arrays of structs in the schema in the Glue Catalog. When I drop fields with arrays of structs it starts working.

GENERIC_USER_ERROR: Encountered an exception[null] from your LambdaFunction

[2020-07-31 18:34] shurvitz opened #227 "[BUG] Alias column name collision"
**Describe the bug**
PR #225 introduced a fix to the DynamoDB connector that normalizes the alias column's name by replacing illegal characters (any character or combination of characters that are NOT included in [a-zA-Z_0-9]) to underscore.
However, this creates a potential, however small, for name collision.

**To Reproduce**
Create two different columns in the same table:
1. my-column
2. my/col

[2020-07-31 18:44] avirtuos commented on #227
Can you provide a bit more info on what we'd like to have happen in this case? Presently we are replacing illegal chars with _, I'm not sure we can reasonable avoid collisions. in those cases I think the intention is that customers use Glue to provide supplemental meta-data. Thoughts?

[2020-07-31 19:30] shurvitz commented on #227
Provided more info in the description of expected behavior. Glue column translation could also be viable solution...

[2020-08-04 19:00] WillLiu360 opened #229 "[BUG] inconsistent generic error with connector documentDB"
**Describe the bug**
I'm getting this "GENERIC_INTERNAL_ERROR: Row type must have at least one parameter" when querying a fairly large docdb collection(about 21m documents) attached screenshot from the athena console as well as lambda connector logs. it happens 90% of the time but occasionally will work without any changes.

**To Reproduce**
Steps to reproduce the behavior(inconsistently):
1. Go t

[2020-08-04 19:01] WillLiu360 commented on #229
spend about 2 hours with aws support in chat today and they suggest we open a ticket here while they investigate further intenally.

[2020-08-04 19:11] avirtuos commented on #229
Hi @WillLiu360 my apologies that you had to spend so much time with aws support and didn't get a resolution to your issue.

I have a few follow up questions:

1. What version of the connector are you using? You can find this by looking at the tags on the lambda function, you should see one that says something like 2020.x.x
2. Can you share the athena query id for an example where you got this fail

[2020-08-04 19:26] shurvitz commented on #229
@WillLiu360, You can try using `string` instead of `varchar` in your Glue metadata definitions. From the CloudWatch logs you included it looks like the processing of the Glue supplemental metadata processing is aborted due to a varchar column type.

[2020-08-04 19:56] shurvitz commented on #229
@WillLiu360, Let us know if that resolved your issue.

[2020-08-05 14:04] shurvitz opened #231 "[BUG] Multi-array STRUCT, STRUCT<ARRAY<>, ARRAY<>> w/Glue metadata : with connector DynamoDB"
**Describe the bug**
When defining a STRUCT containing multiple ARRAY attributes, a subsequent select will return only the first ARRAY in the STRUCT.

**To Reproduce**
Steps to reproduce the behavior:
1. Define a table `movies` in DynamoDB with a corresponding Glue table that has the following column type: `STRUCT<actors:ARRAY<STRING>,genre:ARRAY<STRING>>`.
2. Send query: `select * from movies;`
3

[2020-08-05 14:07] shurvitz commented on #231
This issue was found with the DynamoDB connector, however, it is a generic issue and affects any connector using supplemental Glue metadata definitions with the above criteria.

[2020-08-07 12:26] hugorozestraten opened #234 "[BUG] Using Primary Key with Uppercase column names fails with connector PostgreSQL"
**Describe the bug**
When adding a PK to a postgresql table, Athena federated query fails with a generic error, then it shows an error related to the pK column on CloudWatch logs.

**To Reproduce**
Steps to reproduce the behavior:
1. Create federation with postgreSQL on Athena;
2. Go to your PostgreSQL and create a table without a PK, using large name for columns using "_" character;
3. Query the

[2020-08-07 13:01] avirtuos commented on #234
Unfortunately we can not presently support upper case column or table names since Athena itself is case insensitive and case information is lost. In some connectors we've worked around this by creating a mapping system. We've not yet done that for the jdbc connector.

The master issue for case sensitivity is #61 . I'm resolving this as a duplicate of that and adding your info there.

[2020-08-07 13:01] #234 closed

[2020-08-11 19:22] zebehringer commented on #5
^^ can be ignored. I now know what Partition Projection is and am essentially using that now instead of AwsGlue.getPartitions

[2020-08-13 19:25] shurvitz commented on #231
Fixed by #232

[2020-08-13 19:25] #231 closed

[2020-08-13 19:27] shurvitz commented on #184
Fixed by #228

[2020-08-13 19:27] #184 closed

[2020-08-13 19:28] shurvitz commented on #100
Fixed by #228 and #232

[2020-08-13 19:28] #100 closed

[2020-08-14 14:16] AndrewHannigan commented on #171
+1 specifically for 1-click deploy of Microsoft SQL Server JDBC connector, I would definitely make use of this.

[2020-08-19 04:16] s4saurabh opened #237 "[BUG] Update Athena Federation Summary Image to remove databases not supported"
**Describe the bug**
This image https://raw.githubusercontent.com/awslabs/aws-athena-query-federation/master/docs/img/athena_federation_summary.png on this repository home page shows Oracle and Sql Server as part of Athena federation even though JDBC connector doesn't support Oracle and Sql Server databases.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://github.com/awslabs/aws

[2020-08-20 14:50] #229 closed

[2020-08-24 12:13] tudor-a opened #239 "[QUESTION] Access to a cross - account table via DynamoDB Connector"
I have a question that I don't think is related to a bug or feature request.

Is there a way to enable Athena+DDB Connector from account A to query a DynamoDB table in account B by using the ddb connector? If there is another way to group them, please suggest, any idea would be very welcome!

Is there a way to do this by applying cross-account IAM rules, without changing the java source code?
I've

[2020-08-24 17:06] avirtuos commented on #239
I believe this would require some code changes to how the DDB client is instantiated.

[2020-08-24 17:06] #239 closed

[2020-08-25 08:16] ancamillo opened #240 "[FEATURE] Expose KMS Key ID param at SAR level and add additional permissions to support S3 encrypted via AWS-KMS keys."
**Is your feature request related to a problem? If yes, please describe.**
I would like to programmatically instantiate the AthenaDynamoDBConnector via a Cloudformation template and configure the connector to use an S3 bucket using AWS-KMS encryption. At the moment the connector does not expose at SAR level the kms_key_id parameter but it must be created manually after the deploy on the lambda cre

[2020-08-25 14:56] ahuwaa opened #242 "[BUG] Table schema metadata with custom connector not being propagated to RecordHandler fully"
**Describe the bug**
A partial portion of table schema metadata fields are showing up in the RecordHandler that were originally set in the MetadataHandler.

**To Reproduce**
Steps to reproduce the behavior:
1. Set some schema metadata in `MetadataHandler.doGetTable` using `.addMetadata`
2. In `RecordHandler.readWithConstraint` print all the fields in `request.getSchema().getCustomMetadata()`
3. I

[2020-08-25 17:51] avirtuos commented on #242
is there anything in common about which fields get propagated and which dont? I dont see any code paths that pick and choose, aside from limiting the length of the fields. We also dont plan to propogate fields that share the name of the column.

[2020-08-25 18:34] ahuwaa commented on #242
Ah I see. I think the fields being missed match column names. I will verify

On Tue, Aug 25, 2020 at 1:51 PM Anthony Virtuoso <notifications@github.com>
wrote:

Thanks,
Alvin Hua

[2020-08-25 21:23] ahuwaa commented on #242
Yup it was just the column names matching the metadata keys. Thanks for pointing that out

[2020-08-25 21:23] #242 closed

[2020-09-03 10:07] batrahs opened #243 "[BUG] END_OBJECT: java.lang.IllegalStateException with connector JDBC MySQL"
**Describe the bug**
JDBC MySQL connector is failing with exception "END_OBJECT: java.lang.IllegalStateException"

**To Reproduce**
Steps to reproduce the behavior:
1. Create Data Source for MySQL
2. Try to connect to this DataSource in Athena console
3. No Databases will be displayed and in Cloud Watch log for lambda you will get this error

This is same issue as reported earlier https://github.c

[2020-09-03 13:53] avirtuos commented on #243
@burhan94 @atennak1 Hey team, this is the 2nd time we are received reports that this change has broken customers. Can you please take a look and then come back to me with details on whats going on and if true, why our testing isn't catching this before we push these commits?

@batrahs for now, can you try building against the last tagged release (https://github.com/awslabs/aws-athena-query-federat

[2020-09-08 14:13] avirtuos commented on #243
@burhan94 and @batrahs  any updates?

[2020-09-08 20:32] shurvitz opened #245 "[DOC] Glue table column name mapping with connector DynamoDB"
**Describe the bug**:

**The following behavior can be confusing to customers and should be documented to facilitate proper setup of Glue tables when used for supplemental metadata definitions.**

When using an AWS Glue table for supplemental metadata definitions, Glue will convert all column names to lowercase (**with the exception of columns within a complex structure or nested array**). In orde

[2020-09-08 20:34] shurvitz commented on #245
Supporting columnMapping for nested column is not recommended since the field can easily get cluttered with information and therefore more prone to errors.

[2020-09-13 04:29] dvdotsenko opened #246 "[BUG] Federated Identity object SerDe fails - data it expects is not in payload"
Federated Identity deserialization fails.

Based our code off `v2020.33.1` tag which includes commit "Changing the fields in FederatedIdentity to be more useful for authorization." 6bd29a5 by Seth Denney <sethdenn@amazon.com> Jul 21, 2020 at 13:30

That code expects fields: `arn`, `account`, `principalTags`, `iamGroups`

But Athena still sends "old" payload to Lambda:
[code]

Resulting in:
[code]

[2020-09-14 13:42] avirtuos commented on #246
might be related to #234 @burhan94 did you get anywhere with that when we spoke last week?

[2020-09-14 15:02] burhan94 commented on #243
Hi @batrahs,

So this issue affects Federated DDL, and should be mitigated if you use the the latest tagged release (https://github.com/awslabs/aws-athena-query-federation/tree/v2020.33.1). We are currently deploying a fix, and it should be available within the next few days.

[2020-09-14 15:06] kikemarto opened #247 "[QUESTION] AthenaDynamoDBConnector Update AWS version"
Hi guys, I have a question.

In "AthenaDynamoDBConnector" is with the version version 2020.33.1

![image](https://user-images.githubusercontent.com/14853156/93103009-61923100-f6ac-11ea-8a9b-6347956c9380.png)

But in this repo is with a newer version.

https://github.com/awslabs/aws-athena-query-federation/blob/master/athena-dynamodb/athena-dynamodb.yaml

![image](https://user-images.githubusercont

[2020-09-14 15:07] burhan94 commented on #246
Hi @dvdotsenko,

So the 2020.33.1 release already contains the revert (https://github.com/awslabs/aws-athena-query-federation/commit/f47403845bc42e41aeaf5dff1eb1bb4c9e0d6311).

Can you double check that you're using the 2020.33.1 tag, and not the current mainline commit?

We are currently deploying a permanent fix for the issue which should be available in the next few days. I will update the issu

[2020-09-14 20:02] beaksandclaws opened #248 "[BUG] DynamoDB connector can't handle array<bigint>"
**Describe the bug**
I have a DynamoDB table that has the column `dataset_ids`, which is defined as a NumberSet. In the respective AWS Glue table schema that I've created for that dynamo table, I've defined that column as an `array<bigint>`. When I try to run the following query with Athena, I receive an error (stacktrace below):

```SELECT * FROM "dynamo-db-catalog"."default"."[redacted]" WHERE c

[2020-09-14 20:07] shurvitz commented on #247
Hi @kikemarto, 2020.33.1 is the Release version that is currently deployed in production. So if you try to add a connector via the Athena console, that is the version of the connector that will be used.

The repository, however, has a more recent version for two reasons:
1. More changes were introduced to the Repo since the release: https://github.com/awslabs/aws-athena-query-federation/compare/v2

[2020-09-14 20:12] shurvitz commented on #247
You can build the connector locally to incorporate recent changes: https://github.com/awslabs/aws-athena-query-federation/wiki/How_To_Build_A_Connector_or_UDF#upgrading

[2020-09-14 20:30] kikemarto commented on #247
Thank you @shurvitz !!!

[2020-09-14 20:30] #247 closed

[2020-09-14 20:41] shurvitz commented on #248
Hi @beaksandclaws, thanks for reporting the issue. We're aware of a problem with data conversion from DDB Numeric type. As a workaround, until we're able to address this issue, you can define the column in the Glue schema as `array<string>`.  It will display the correct results.

[2020-09-14 20:50] beaksandclaws commented on #248
That workaround worked, thanks!

[2020-09-15 14:04] fysp11 commented on #72
Is there any way I can write something to my connector to allow handling these formats?

[2020-09-15 15:53] fysp11 commented on #157
I guess it does, since Athena doesn't support all the same timestamp types that redshift does. So, converting from different redshift types to DateMilli is super meaningful, right?

[2020-09-21 17:55] burhan94 commented on #246
Fix has been deployed

[2020-09-21 17:55] burhan94 commented on #243
Fix was deployed last week.

[2020-09-23 17:05] #115 closed

[2020-09-23 17:05] #248 closed

[2020-09-25 14:20] fotherda71 opened #252 "[QUESTION] Can this work with Quicksight"
I have a question that I don't think is related to a bug or feature request.

I have got the Amazon Athena DynamoDB Connector working in that it appears as a table in Athena and can be queried. However I can't use it in Quicksight. When I try to connect to the table using the Athena data source connector it finds the data columns and types correctly but it cannot load any data. It gives the follow

[2020-09-25 16:35] avirtuos commented on #252
Quicksight support is in the works. I don't believe it works 'out of the box' right now. Did you query from quicksight generate any logs for the Athena Lambda function in cloudformation?

[2020-09-25 16:49] fotherda71 commented on #252
No it didn't produce anything in the logs but I got the immediate error shown above.

[2020-09-25 19:46] dvdotsenko commented on #246
Tested. New FederatedIdentity with ARN works for us.

Thank you.

Closing the ticket.

[2020-09-25 19:46] #246 closed

[2020-09-26 16:00] fotherda71 commented on #252
@avirtuos Is this the preferred alternative to integrating DynamoDB with Quicksight: https://aws.amazon.com/blogs/database/how-to-perform-advanced-analytics-and-build-visualizations-of-your-amazon-dynamodb-data-by-using-amazon-athena/

[2020-09-27 01:45] dvdotsenko opened #253 "[BUG] ARN value missing in FederatedIdentity data when connected over JDBC. "UNKNOWN_ARN" instead"
When using AWS Web UI Console's Athena UI to make requests, my user's ARN comes across as value of `arn` attribute of FederatedIdentity object.

When using JDBC ( Intellij DataGrip plugin + AthenaJDBC42_2.0.14.jar from https://docs.aws.amazon.com/athena/latest/ug/connect-with-jdbc.html ) for same IAM user, `arn` attribute contains `"UNKNOWN_ARN"` string.

JDBC connection string `jdbc:awsathena://u

[2020-09-27 17:23] RossWilliams opened #254 "Elasticsearch Connector - Nullable Struct fields"
I'm curious if it is intentional to force all defined fields in a structs to be defined in an elasticsearch document?

Returning null rather than throwing an exception would be preferred.

https://github.com/awslabs/aws-athena-query-federation/blob/b4ea654fba01a71ec86eacadefb1b22e35e62215/athena-elasticsearch/src/main/java/com/amazonaws/connectors/athena/elasticsearch/ElasticsearchFieldResolver.ja

[2020-09-27 20:06] avirtuos commented on #254
@shurvitz I think this is a miss, we should be treating all these fields as nullable. at least until we support Apache Arrow's Map type. Thoughts?

[2020-09-27 21:33] RossWilliams opened #255 "[BUG] Between Syntax Invalid with connector Elasticsearch"
**Describe the bug**
Using a SQL BETWEEN keyword results in an elasticsearch predicate that fails to parse by the lucene DSL.

**To Reproduce**
Steps to reproduce the behavior:
1. Query with Elasticsearch Syntax similar to: `SELECT * FROM "lambda:x".y.z WHERE a BEWEEN Date('2020-09-01') and Date('2020-10-01')`
2. Notice the predicates use <= AND >= syntax in CloudWatch
3. Notice Athena reports an

[2020-09-28 02:40] aartihbhange opened #256 "[BUG] Athena Queries return incorrect result for dynamodb table having different data struct in same attribute"
It seems DynamoDBConnector for Athena do not infer the schema properly for dynamodb table . This  is happening when dynamodb items contains different array-of-struct type data in same attribute. We tried using and avoiding Glue crawler for schema inference. It give incorrect results while using Glue table schema. The connector infers schema for only first record/item in dynamodb attributes and use

[2020-09-28 05:19] praveen203 commented on #104
Any update when python sdk could be available?

[2020-09-28 12:57] avirtuos commented on #255
@RossWilliams Thanks for finding this. Sounds like you might even have a proposed fix in mind. Have you considered submitting a pull request with a fix? We'd gladly accept the contribution :) If not, we will prioritize addressing the issue.

@shurvitz This seems like another one for you as you are most familiar with this connector at the moment.

[2020-09-28 13:10] shurvitz commented on #254
@avirtuos @RossWilliams,
The Elasticsearch connector does not use schema inference. Rather, the table schema is well defined either by retrieving it directly from the Elasticsearch instance or from Glue (if used as a supplemental metadata source). So to answer your question, yes, the intent here is to ensure that the table schema matches the structure of the document for proper value extraction. *

[2020-09-28 13:17] avirtuos commented on #254
@shurvitz I'm not sure I agree with this. Let's connect offline and chat. I think @RossWilliams has a point about nullability. I can explain better with a quick call. Can you hit me up on slack when you are free?

[2020-09-28 13:58] RossWilliams commented on #254
@shurvitz
If I have a field in elasticsearch mapping:
[code]
and a Glue Struct:
[code]

Not all of my documents in Elasticsearch will have an 'attributes.assessmentId' field. But the current connector code will throw an error if any documents in the connector result are missing 'attributes.assessmentId'

[2020-09-28 14:07] avirtuos commented on #256
@aartihbhange You are highlighting a key challenge with how Athena makes use of schema. Essentially, Athena needs to know the schema of the table it is reading 'up front'...at what we call query planning time. In addition to the timing concerns (e.g. determining schema needs to be 'fast' in order to avoid impacting performance), it also means that the schema of the table needs to be a superset of

[2020-09-28 14:07] #256 closed

[2020-09-28 14:33] KevinGlinski opened #257 "[FEATURE] Provide columns to be selected to the handler"
I'm using a custom handler to wrap a REST API to query data in an external system and then hooking tableau up to query athena.  When setting a filter in tableau (or any other BI tool) it will do a "Select distinct userName from users" and return all the values of foo to display in a pick list.

With query federation, It would be helpful if i knew what fields were being selected because in this cas

[2020-09-28 14:50] avirtuos commented on #254
I connected with @shurvitz, he will be looking into making fields 'nullable' so that missing fields won't cause us to throw. This will hopefully be an easy change. stay tuned for updates.

[2020-09-28 15:34] shurvitz commented on #254
PR #258 fixes this issue. Once merged you can build it locally and deploy: https://github.com/awslabs/aws-athena-query-federation/wiki/How_To_Build_A_Connector_or_UDF#upgrading

[2020-09-28 17:15] burhan94 commented on #253
Hi,

I haven't enabled the feature globally yet. It will become public in the next few weeks, but I can whitelist your account so that you can try it out. Is 897117390337 the correct account to whitelist? What region are you using?

[2020-09-28 17:56] dvdotsenko commented on #253
897117390337 is the correct (Staging) AWS account.

us-east-1

Thank you

[2020-09-28 18:34] burhan94 commented on #253
Can you retry your query now and let me know what the results are?

[2020-09-28 19:06] dvdotsenko commented on #253
@burhan94

Tried request at 2020-09-28 19:02:21 UTC (Noon Sept 28 US Pacific)

[code]

[2020-09-28 19:10] burhan94 commented on #253
Oops, sorry I made a small mistake during the whitelist process, can you retry the query again? Sorry for the back and forth. Double checked it this time.

[2020-09-28 19:29] #254 closed

[2020-09-28 19:29] #255 closed

[2020-09-28 20:41] dvdotsenko commented on #253
@burhan94

It's a beauty!

[code]

Look forward to GA announcement on your side. How would I know this is in GA?
Hoped to move this to production account 583912811210 (us-east-1) in ~3 weeks.

[2020-09-29 02:02] dvdotsenko opened #259 "[BUG] Failure to process query response results in 3 retries, last one has malformed with connector <connector type>"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots / Exceptions / Errors**
If applicable, add screenshots, exception stack traces, or error messages to h

[2020-09-29 03:19] dvdotsenko opened #260 "[BUG] Deterministic failure to process specific (large?) ListTablesResponse results in 3 retries, last one has malformed `schema` value of `null`"
For some specific `ListTablesResponse` payloads, Athena deterministically "chokes" on that payload, retries same request 3 more times, last one with malformed data, resulting in failure to handle the malformed request on Lambda side.

Example malformed request:

[code]

(I don't have access to Athena-side errors. Only assume there are some based on Athena retrying the same request)

Reliably **Suc

[2020-09-29 12:35] #259 closed

[2020-10-05 17:22] atennak1 commented on #253
Stay tune to the AWS announcements page for GA news!

[2020-10-05 17:22] #253 closed

[2020-10-06 15:33] ashpad opened #265 "[BUG] Mixed Case Tables with connector Amazon TimeStream"
**Describe the bug**
While using the Amazon TimeStream Connector, if the Timestream Schema/Table contains mixed case. The Athena query does not work.

Error :
GENERIC_USER_ERROR: Encountered an exception[com.amazonaws.services.timestreamquery.model.ValidationException] from your LambdaFunction[arn:aws:lambda:us-east-1:525474232104:function:timestreamcatalog] executed in context[retrieving meta-dat

[2020-10-06 15:56] ashpad opened #266 "[QUESTION] Glue Catalog Table for Amazon TimeStream"
I have a question that I don't think is related to a bug or feature request.

Per My understanding on discussions with Anthony for timestream glue integration :

This needs to be done in case of Timestream db/tables having mixed case names

1. We need to create a glue Catalog DB and Table name exactly as the same name as the Timestream DB table ?

2. It says Glue View--> are you using terminology

[2020-10-08 18:34] bmasciarelli opened #268 "[FEATURE] Possibility of excluding tables"
**Is your feature request related to a problem? If yes, please describe.**
I'm having issues connecting to a database that holds hundreds of tables. Refresh takes a lot to complete and in Athena's interface I don't see something indicating that Lambda is still running.

**Describe the solution you'd like**
It would be nice to have the option of defining some kind of inclusion/exclusion pattern, si

[2020-10-08 21:14] atennak1 commented on #268
Hi @bmasciarelli , which connector would you like to have this feature?

[2020-10-08 21:18] bmasciarelli commented on #268
JDBC :)

[2020-10-12 19:07] avirtuos commented on #266
seems like we can help resolve this issue, at-least partially by enhancing the timestream connector to have something similar to what our other case sensitive connectors use: https://github.com/awslabs/aws-athena-query-federation/blob/master/athena-cloudwatch/src/main/java/com/amazonaws/athena/connectors/cloudwatch/CloudwatchTableResolver.java

[2020-10-12 19:10] avirtuos commented on #266
#2 the readme has exmaples of this but basically Glue Tables support a OriginalViewText field. If you put SQL in there, the connector will treat the Table as view. Additionally if you set a table property of _view_metadata_ on your table and put SQL in it, the connector will also treat that table as a view.
#3 I dont have one handy but ill try to make one soon. There is a screenshot of a sample ta

[2020-10-15 22:20] #243 closed

[2020-10-19 11:45] sivankumar86 opened #279 "[BUG] GSI does not work in filter with connector dynamodb"
**Describe the bug**
  SQL query failed when GSI added in where condition and GSI was created with selected field

**To Reproduce**
Steps to reproduce the behavior:
1. Go to  Dynamodb and create a table with 6 columns
2. Create a GSI with only few columns
3. Go to Athena and run select * from table ## it would work
4.  Run select * from table where GSIkey='<condition>'

Error:
 GENERIC_USER_ERROR:

[2020-10-27 15:53] nikspatel03 opened #281 "Postgres Athena Federated Query Error : table not found [Issue]"
I'm getting following error while querying postgres schema from athena federated query.  I can see Schema and table populated in Athena console through Data source but while executing query getting following error:

WARN  CompositeHandler:104 - handleRequest: Completed with an exception.java.lang.RuntimeException: Could not find table in my_schema_name at com.amazonaws.connectors.athena.jdbc.manag

[2020-10-27 23:04] any626 opened #282 "[BUG] Unsigned tinyint are converted to tinyint causing the query to fail with connector mysql jdbc"
**Describe the bug**
I have several unsigned datatype columns that get converted to the signed version. When it encounters a value outside the signed value range, the query fails.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a datasource that has a table with an unsigned column datatype.
2. Populate a row with the max value. ex: unsigned tiny int, use 255
3. Run query (select unsig

[2020-10-30 00:19] eddiesiegel commented on #186
+1 for this request. Even if array columns can't be supported immediately, a useful intermediate step would be to just ignore them so that the other columns in the table can still be queried.

[2020-11-01 09:44] shlomi-viz commented on #186
My temp solution is to create a view (for each table with `array` column) and query it (instead of the actual table).

[2020-11-05 19:58] nblomquist commented on #195
Is this ever going to be fixed?
I just deployed the AthenaJdbcConnector serverless application and it failed because the password in the secret had a % sign. Autogenerated passwords in Secrets shouldn't cause issues since Secrets are pushed heavily for this.

[2020-11-05 19:59] avirtuos commented on #195
Ill get back to you. I thought we had merged this. my mistake.

[2020-11-05 20:05] avirtuos commented on #195
@burhan94 will be getting this pushed ASAP, hopefully in the next couple days (max). He will update this issue once he starts on it.

[2020-11-05 20:09] nblomquist commented on #195
Ok, this will go to the AWS _Serverless Application Repository_ when it is merged/tested/pushed?
Now I have to go figure out how to redeploy that.

Thanks for the quick response!

[2020-11-06 17:50] igorsechyn opened #286 "[QUESTION] Federated query with external Postgres Database"
I have a question that I don't think is related to a bug or feature request.

I am trying to setup federated query with external Postgres database, that is not hosted in AWS. I followed instructions from documentation and getting following exception in my Lambda:
[code]
I verified that lambda function is deployed in a public subnet with access to internet and that database can be accessed from pub

[2020-11-06 17:51] burhan94 commented on #195
Hi

Yes, I will be cutting a new release and will update the SAR by early next week.

[2020-11-06 18:07] existeundelta opened #287 "[BUG] Athena Console freezes with connector athena-jdbc to mysql"
Just refresh metadata of the source produce that Athena Console freeze, and at the same time ther are about 4k invocations of the lambda function just to get the metadata

with:
com.amazonaws.connectors.athena.jdbc.MultiplexingJdbcCompositeHandler

java8

[2020-11-07 06:18] existeundelta opened #288 "[BUG] Error while checking bucket ownership with connector athena-federation-jdbc to mysql"
GENERIC_USER_ERROR: Encountered an exception[java.lang.RuntimeException] from your LambdaFunction[arn:function:athena-federation-jdbc] executed in context[retrieving meta-data] with message[Error while checking bucket ownership for spill_bucket]

the query is executed in an account/Vpc and runs in a mysql in other account/vpc the vpcs are peer connected and correct security groups, and the queries

[2020-11-07 15:09] avirtuos commented on #288
Can you check the cloudsearch logs for the Lambda function, it should have a more detailed error with stack trace. I suspect that your Lambda is unable to contact S3 possibly due to lack of a route to S3 or no internet gateway. A quick way to test this theory is to add an S3 VPC endpoint to the subnet(s) your Lambda function is running in

[2020-11-07 18:57] existeundelta commented on #288
it says:
INFO SpillLocationVerifier:67 - Spill bucket has been changed from null to [spill_bucket_name]
WARN  CompositeHandler:104 - handleRequest: Completed with an exception.
java.lang.RuntimeException: Error while checking bucket ownership for [spill_bucket_name]

2020-11-07 06:09:15 e2384cc2-aee8-4d7a-bfe7-181cb09f8c65 WARN CompositeHandler:104 - handleRequest: Completed with an exception. jav

[2020-11-07 19:30] avirtuos commented on #288
Yes, the Lambda is running in a network (subnet) which has no route (path) to S3. Either because of no internet gateway or due to security groups, etc... Trying a box endpoint is the 'safest' way to test fixing it since there is virtually no risk you'd open up your VPC to unwanted traffic from the internet. The box endpoint would only allow traffic to/from S3.

[2020-11-07 20:27] existeundelta commented on #288
thanks!

[2020-11-07 20:28] avirtuos commented on #288
Did it work? Can we close the issue?

[2020-11-07 20:30] existeundelta commented on #288
still not proved is saturday night herer, having dinner with family ;)

[2020-11-08 06:50] existeundelta opened #289 "[BUG] getSchema: Unable to map type for column[datetime] with connector athena-federation-jdbc to mysql"
**Describe the bug**
An Error is thrown trying to map column type Datetime
ERROR JdbcMetadataHandler:242 - getSchema: Unable to map type for column[datetime] to a supported type, attempted Timestamp(MILLISECOND, null)

[2020-11-08 15:39] avirtuos commented on #289
Datetime is not currently in the list of supported types.

[2020-11-08 15:43] avirtuos commented on #288
The console freezing only affects the left nav (it's a bug we are working on). You can still run queries.

[2020-11-08 15:43] avirtuos commented on #288
As for your permission error, you should not be using policies based on the endpoint Arn. That won't work especially since when Athena goes to read that dta it won't have access to that endpoint .

[2020-11-08 16:26] existeundelta commented on #288
yes, thanks, really now I delete the s3 endopoint (so also its policy), beacause get the error despite wat bucket name I put, so i get the same acces denied if i put a bucket name that don't exist... I'll try to reproduce the acces throw a ec2, so I can understant it better.

ok, thanks, but really it affects all the tab (freeze the all the tab)

[2020-11-08 16:28] avirtuos commented on #288
It's causing the entire console to freeze for you?

[2020-11-08 17:26] existeundelta commented on #288
yes, the entire tab (chrome)

[2020-11-09 07:32] existeundelta commented on #288
how has to be the bucket name in spill_bucket for accesing it throw and endpoint in an VPC?
bucketname
or bucketname.s3.region.amazon.com
or may be another
?
because i think the problem is that lambda is not Error while checking bucket ownership in the appropriate bucket

[2020-11-11 08:13] tudor-a opened #292 "[FEATURE] [QUESTION] DynamoDB connector - targeting a cross-account Glue catalog"
I have a question that's related to a new feature. It is related to one of the DynamoDB Connector features mentioned in the Readme file, that says:

`glue_catalog - (Optional) Can be used to target a cross-account Glue catalog. By default the connector will attempt to get metadata from its own Glue account.`

I've searched through the entire dynamodb repo for more clues, I looked into the commits

[2020-11-11 17:04] ahggns opened #293 "[BUG] DateTimeFormatterUtil timestamp round-trip fails"
**Describe the bug**
`DateTimeFormatterUtil#packDateTimeWithZone` and `DateTimeFormatterUtil#constructZonedDateTime` does not produce a round-trip equivalence.

**To Reproduce**
I have test cases for this on a branch here: https://github.com/awslabs/aws-athena-query-federation/compare/master...ahggns:ah/datetimeformatter-roundtrip

[2020-11-11 17:58] ahggns opened #294 "[BUG] Error running 'describe' statement from Athena console with custom connector"
**Describe the bug**
In the Athena console running a custom connector, DDL statements with backquoted identifiers results in an error message stating that backquoted identifiers are not supported.

**To Reproduce**
1. I have a custom connector with a lambda function named `foundry-athena` with a database `"foundry"`.
2. I run the following command in the Athena console:
[code]

**Expected behavior

[2020-11-11 19:57] shurvitz commented on #294
Hi Andrew,
Can you try removing the double-quotes around the database and table name (as shown in the example) or use the back-quote instead?

The following works for me:

describe \`lambda:ddb\`.default.movies; (this is the notation from the example)

This also works:

describe \`lambda:ddb\`.\`default\`.\`movies\`;

If neither works, can you share the connector type and version you are using?

[2020-11-11 21:18] avirtuos commented on #169
Good news, Athena Federation is now Generally available! UDFs and ML will follow soon.

[2020-11-11 21:18] #169 closed

[2020-11-11 21:20] avirtuos commented on #294
@shurvitz Can you confirm if you tried to reproduce? I don't think we need Andrew to try these permutations. We can test ourselves and validate but I've seen whats in the documentation work many times. We may have a regression on our side if it no longer works...or some copy-paste trickiery is afoot with the recent doc updates.

[2020-11-11 21:20] avirtuos commented on #293
Hey @soojinj I think you are most familiar with this code path. Can you take a look? Should be a quick test/fix.

[2020-11-11 21:51] ahggns commented on #294
Using exclusively backticks did get past this specific error:
[code]

This did result in a new error, though, after a successful response by our service to the `doGetTable` method in the connector. Seems a more detailed stacktrace didn't make it to CloudWatch.
[code]

[2020-11-11 22:07] shurvitz commented on #294
@ahggns I may need more information in order to recreate your issue as the above seems to work for me. Also, the query ID you specified only contains 2 arguments for the describe query, but needs 3.

Can you share the following information: Which connector are you using (and version)?

[2020-11-11 22:28] ahggns commented on #294
This is for a new custom connector we're working on that we're currently running in our dev account.

I'm running these statements in the Athena query editor on the AWS console, I'm not sure how the query is getting mapped to arguments. I may have copied an error from a query that didn't explicitly specify the schema, so just in case here's a fresh one:

[code]
[code]

[2020-11-12 20:44] shurvitz commented on #294
@ahggns Is there a specific reason your table argument contains slashes? Typically, this argument should not be a path, just the table name.

[2020-11-12 21:05] ahggns commented on #294
The slash notation is how tables are referenced in the target system.

Unfortunately I can't find any related logs in CloudWatch.

[2020-11-12 21:29] shurvitz commented on #294
Unfortunately, I haven't been able to recreate the issue here. Even if I specify a slash in the table name, I still get a CloudWatch log. It's hard for me to say w/o seeing the code, but I can make a couple suggestions though:
1. Rebase your code with the GA version of the SDK (2020.46.1).
2. Instead of specifying the table path in the query, use an environment variable that you can pass in via th

[2020-11-13 23:00] ahggns opened #300 "[FEATURE] Publish SDK to public package repository"
Are there plans to publish the SDK jars and tools to a public package repository? We're currently developing our connector internally and it would be helpful if we could reference the SDK artifact on a public channel rather than needing to download the jar from github.

**Describe the solution you'd like**
Publish SDK jar (and sources jar) to a public package repository like jcenter, bintray, or m

[2020-11-16 01:49] richardhboyd commented on #20
It's possible that I missed something, but I can't seem to find a commit/merge with the serialized form of the requests/responses.

[2020-11-16 02:20] richardhboyd commented on #20
nvm, found it.

https://github.com/awslabs/aws-athena-query-federation/tree/master/athena-federation-sdk/src/test/resources/serde/v2

[2020-11-16 22:50] aidansteele opened #301 "Identity is only partially populated"
Hi,

Now that query federation is generally available, I tried it out but found that the `identity` field is not being fully populated. Here's an example of the input my Lambda function gets:

[code]

In the wiki page on [Known limitations](https://github.com/awslabs/aws-athena-query-federation/wiki/Limitations_And_Issues) it mentions that this isn't populated, but I'm not sure if this has been up

[2020-11-17 00:25] avirtuos commented on #301
Sounds like a bug to me. Can you share a query id and confirm if this was in a Preview workgroup or regular workgroup? I don't think all the recent fixes have been applied to the preview workgroup, at some point we started prepping for production and updating the preview was not viable. That will be remedied for future previews.

@burhan94 is this on your radar as a know limitation of GA? I doubt

[2020-11-17 00:45] HowardXia opened #302 "[BUG] <BUILD FAILURE> with connector <athena-jdbc>"
**Describe the bug**
Failed to build athena-jdbc in cloud9 m5.large newly created.

I am trying to tweak athena-jdbc for oracle, my first step is to make sure if the "Package and Deploy" works fine before any code changes.

**To Reproduce**
Just follow the same steps for athena-example at
https://github.com/awslabs/aws-athena-query-federation/tree/master/athena-example

Step 1 - Step 3  Good
Step

[2020-11-17 01:05] avirtuos commented on #302
Looks like you forgot to build the sdk first. Try building the sdk module first. The athena-example project has the step by step build instructions incase you aren't sure which directory is the sdk.

[2020-11-17 01:05] #302 closed

[2020-11-17 01:51] aidansteele commented on #301
Sorry I should have clarified. The query ID and account ID in the example are real queries that I ran and failed.

This was using a non-preview workgroup and Athena engine v2

[2020-11-17 13:55] HowardXia commented on #302
Hi Athony,

Thanks for your response.
I built the sdk successfully, and confirmed the aws-athena-federation-sdk-2020.46.1.jar generated.
Below is command history.
    1  git clone https://github.com/awslabs/aws-athena-query-federation.git
    2  cd aws-athena-query-federation/
    3  ./tools/prepare_dev_env.sh
    4  source ~/.profile
    5  ls
    **6  cd athena-federation-sdk
    7  mvn clean in

[2020-11-17 13:57] avirtuos commented on #302
Did the sdk build succeed? The above error looks like it couldn't find the sdk jar

[2020-11-17 14:02] HowardXia commented on #302
yes, aws-athena-federation-sdk-2020.46.1.jar is generated in target folder.

[2020-11-17 14:05] avirtuos commented on #302
can you try building athena-example? When I get to my computer I'll see if I can reproduce the issue.

[2020-11-17 14:10] HowardXia commented on #302
Got error too.

[INFO]
[INFO] --------------------< com.amazonaws:athena-example >--------------------
[INFO] Building athena-example 1.0
[INFO] --------------------------------[ jar ]---------------------------------
[INFO] ------------------------------------------------------------------------
[INFO] BUILD FAILURE
[INFO] ------------------------------------------------------------------------
[

[2020-11-17 14:14] HowardXia commented on #302
I tried athena-example a couples of days before, it worked. but in different Cloud9 ENV.
My Cloud9 ENV for athena-example was deleted, it was t2.micro, Current is m5.large.

I'll try different Cloud9 env.

[2020-11-17 14:38] avirtuos commented on #300
Yes, this is certainly on our todo list. I'm not 100% sure yet if we will publish to central or self-host but either way you'll be able to pull a copy of the pre-compiled artifacts from a maven compatible repository.

[2020-11-17 14:39] avirtuos commented on #300
@burhan94 can we prioritize this. EMR team has folks that are familiar with this process if you aren't sure where to begin. Let me know and I can connect you with the appropriate people.

[2020-11-17 14:40] avirtuos commented on #293
@soojinj I vaguely recall you had reached a conclusion on this on Friday but I dont see an update here. Can you refresh our memories as to where this landed?

[2020-11-17 14:41] avirtuos commented on #294
@ahggns were you able to make progress here?

[2020-11-17 14:43] avirtuos commented on #292
@tudor-a The value you place in that Lambda env variable will be used to determine which Glue catalog the connector uses. Can you help me understand your specific question? what are you trying to do and what part are you stuck on? I agree that the documentation could be clearer. We'll work on that.

[2020-11-17 14:46] avirtuos commented on #266
I'm closing this issue due to lack of activity, please reopen if you have further questions

[2020-11-17 14:46] #266 closed

[2020-11-17 14:47] avirtuos commented on #195
This has been merged

[2020-11-17 14:47] #195 closed

[2020-11-17 14:52] avirtuos commented on #302
I just pulled a fresh copy from the repo on a new cloud9 env and all the connectors built without issue. I a bit stumped as to what kind of issue could cause your maven cli to fail to find the jars but I'm not sure what else to suggest aside from start with a clean (maybe even new) cloud9 env and carefully capture the output of the setup steps.  You can use the linux 'script' ( https://man7.org/li

[2020-11-17 14:56] ahggns commented on #294
Yes, this seems to be due to us having had Arrow 2.0.0 jars on the classpath in the lambda function (our backend service runs with 2.0.0). We removed those to ensure we were taking the 0.11.0 jars from the sdk's dependencies and the describe command is now working.

[2020-11-17 15:07] HowardXia commented on #302
I'll try different new cloud9 environment, thanks a lot,

[2020-11-17 15:52] soojinj commented on #293
Hi @ahggns I was able to check your test cases. The reason for this discrepancy is because we normalize all UTC equivalent timezones (including Z) as UTC. However, I did notice the underlying value is actually the same time in same time zone as well, so it shouldnt cause any data incorrectness.

Expected :2015-12-21T17:42:34Z
Actual   :2015-12-21T17:42:34Z[UTC]

I will look into it further to see

[2020-11-17 15:53] burhan94 commented on #301
So UDF's aren't GA yet. We are aiming to release UDF and Sagemaker support soon, however. Stay tuned.

[2020-11-17 17:12] #294 closed

[2020-11-17 18:36] HowardXia commented on #302
Hi Anthony,

I tried mvn clean install at root, then build athena-jdbc, it went through without error.
Seems like athena-jdbc not only depend on sdk, also depend on something other project.
Just not sure which one, **Could you please advise which one else other than sdk need to build first?**
If build root, then build athena-jdbc, got error **"[Errno 28] No space left on device: 'packaged.yaml'"**

[2020-11-17 18:41] ahggns opened #304 "[FEATURE] Validation flag to expect zero tables"
**Is your feature request related to a problem? If yes, please describe.**
The connector validation tool currently fails if no tables are returned from the lambda function (during the `SHOW TABLES` phase). Due to scale limitations my connector will not be able to list tables via this API.

**Describe the solution you'd like**
Can a flag be added to the connector validator to tell the validation to

[2020-11-17 18:54] aidansteele commented on #301
That makes sense - thanks for the clarification. Looking forward to it. You folks have done amazing work.

[2020-11-18 12:14] Miksu82 commented on #179
+1

[2020-11-18 12:43] freemanlutsk opened #305 "[BUG] NullPointerException with connector athena-udfs."
**Describe the bug**
Problem with `nulltype` column.  https://docs.delta.io/latest/delta-batch.html#nulltype-columns
**To Reproduce**
Try to encrypt `NULL` row.

**Screenshots / Exceptions / Errors**
```GENERIC_USER_ERROR: com.facebook.presto.spi.PrestoException: Encountered an exception[java.lang.RuntimeException] from your LambdaFunction[athena_user_defined_functions] executed in context[calling

[2020-11-19 15:23] tudor-a opened #306 "[BUG] Workgroup issue with connector DynamoDB Connector"
Hi,
I have deployed the DynamoDB connector to a new account, with all necessary resources created successfully. The account is Tokyo, ap-northeast-1.
I manually created a new Workgroup named AmazonAthenaPreviewFunctionality and tried running some queries with this connector - basic select queries and `show tables (...)`.
I am unable to execute a query on this workgroup, so there are no logs to add

[2020-11-19 16:17] avirtuos commented on #306
ap-northeast-1 is not one of our Preview regions. Also, these features are now GA and starting to roll out to all regions. You can currently use them in US-East-1, Us-East-2, or Us-West-2 without a special workgroup.

[2020-11-19 16:17] #306 closed

[2020-11-20 15:01] avirtuos commented on #305
Can you share the stacktrace (logs) of you Lambda function? This error originated in your Lambda function.

[2020-11-20 15:41] avirtuos commented on #302
@HowardXia How much disk space do you have on that instance? you may need to give it a larger root volume. I'd expect 16Gb would be more than enough.

[2020-11-20 16:14] avirtuos commented on #304
I've made the requested change, once the build/test pass I'll merge it for you. ETA is probably 30 min for review + build + merge

[2020-11-20 17:05] avirtuos commented on #304
merged. if you pulled the latest from the repo you'll get the changes. add a '-e' flag to the validator command to disable show tables non-empty checks.

[2020-11-20 17:05] #304 closed

[2020-11-20 20:16] avirtuos commented on #293
I chatted with @ahggns earlier today, they are going to revisit this given @soojinj 's update.

[2020-11-23 13:46] freemanlutsk commented on #305
Do you mean this trace ?

`java.lang.NullPointerException: java.lang.RuntimeExceptionjava.lang.RuntimeException: java.lang.NullPointerException	at com.amazonaws.athena.connector.lambda.handlers.UserDefinedFunctionHandler.invokeMethod(UserDefinedFunctionHandler.java:530)	at com.amazonaws.athena.connector.lambda.handlers.UserDefinedFunctionHandler.lambda$makeExtractor$10(UserDefinedFunctionHandler.j

[2020-11-24 11:18] aravind08 commented on #168
Any update on this connector?

[2020-11-24 17:14] Enclavet commented on #5
@zebehringer How are you using Partition Projection? Are you just reading the Table Properties and parsing them and using that to determine your partitions?

[2020-11-25 04:43] rubenssoto opened #310 "[FEATURE] Delta Lake Connector"
Hello,

Now it is possible to query delta lake files through manifest files, but it would be good for performance reasons have a connector that really understands delta lake format and take advantage of delta lake log.

Is It possible?

https://github.com/delta-io/delta

Thank you.

[2020-11-25 05:53] danielhaviv commented on #129
@avirtuos Any updates coming soon 🙏?

[2020-11-30 13:47] tudor-a commented on #292
Hello @avirtuos, thanks for the feedback!
What I don't understand is, do I need to deploy other resources except DynamoDB connector to enable  access to a cross-account Glue catalog?
I currently only deploy the standard DynamoDB Connector, and I tested adding cross-account roles that would enable Athena access to a dynamodb connector lambda function from a different account. (My guess is that I've

[2020-12-01 13:33] leafmulch opened #312 "[BUG] forward slashes in database name/LogGroup with connector AthenaCloudWatch (Logs)"
**Describe the bug**

When Athena console populates its tables from the selected database all you see is a spinning circle and in the developer tools network window you can observe 404's. This only occurs when there is a forward slash in the database name (which reflects the name of the corresponding Log Group.)

This is a very common naming convention in the CloudWatch Log Group names and therefo

[2020-12-01 23:21] ahggns commented on #293
Hi @soojinj,

I believe that you're correct that the slightly different offset format doesn't seem to be an issue. I think the issue I'm actually having relates to the time zone of the system where the `constructZonedDateTime` method is called.

It looks like the `DateTimeFormatterUtilTest` sets the default timezone to UTC before running any tests:
https://github.com/awslabs/aws-athena-query-feder

[2020-12-02 16:41] avirtuos commented on #293
@ahggns I may be miss-understanding but I believe we are doing this because Athena uses UTC as its base timezone, in an attempt to simplify the matrix of client, server, data timezone conversions. If this doesn't help calrify what is happening, can you share what behavior you'd expect?

[2020-12-02 16:52] ahggns commented on #293
So the system time zone when our connector runs is guaranteed to be UTC? In that case I think we can do the same thing in our tests to set the default timezone before doing any timestamp conversions.

Is there any documentation I can reference in a comment to explain why we're doing this?

[2020-12-07 03:28] qwalker opened #315 "[FEATURE] Apache Kudu connector"
Is there any plan or ongoing work on kudu connector? Any advices on athena query federation with kudu?

[2020-12-07 03:31] avirtuos commented on #315
Can you share more about your use case?

[2020-12-07 06:38] qwalker commented on #315
@avirtuos Sure. We have a OLAP system. We use kudu to store user properties and recent days' user behaviors.  User properties are being updated frequently, and user behaviors are mostly append only logs. We snapshot user properties and offload historical user behaviors to S3, and use Presto to query data in S3 and kudu together.  For better scalability, We really want to use Athena to query S3 and

[2020-12-07 22:37] chadmorrow commented on #300
This would be extremely helpful. Bonus points if put on maven central with the other AWS SDK's.

[2020-12-07 22:39] chadmorrow commented on #171
I've tried working this one out myself but haven't gotten anywhere with it. I do have a first born child I can trade for someone else's time and effort to get this made though ;)

[2020-12-07 22:51] avirtuos commented on #300
This is absolutely be in central. Wheels are moving though slowly due to ReInvent commitments and holidays. Stay tuned.

[2020-12-09 00:07] shurvitz commented on #289
@existeundelta It's likely that https://github.com/awslabs/aws-athena-query-federation/pull/314 fixed this issue for the JDBC connectors. Can you try again with the patch, and let us know.

[2020-12-09 14:32] mcuelenaere commented on #281
We're suffering from this as well using the MySQL JDBC connector. It looks like tables consisting of lowercase characters only **do** work however.

Our current workaround is to create views and naming then using just lowercase characters.

[2020-12-10 12:34] tudor-a commented on #292
Hello @avirtuos ,
here's a new update. I added the account number in the "glue_catalog" env variable of the Lambda, and I managed to setup crossaccount access to the glue catalog.
Now, I can list the Glue tables from the other account with: `show tables in `lambda:<name>`.default`

But I still cannot query that dynamodb table, i keep getting the ResourceNotFound Exception.
Can you explain how to s

[2020-12-15 17:06] timneedham commented on #153
Hi,

**Any progress with this at all?** :worried:

We've got `uuid`  and `timestamp with time zone` columns in all tables throughout our Postgres database, and those fields fail to appear in Athena. Other Postgres-specific features (like arrays, composite-type columns etc.) appear to stop _any_ table from appearing in Athena.

Athena is a great fit for our use case... but this lack of driver suppo

[2020-12-15 17:23] avirtuos commented on #153
We have not yet started on this item. If this is a high priority for you, one suggestion I can make for expediting is to speak with your account team to escalate. I'll do my best to get this prioritized regardless.

[2020-12-15 18:29] shurvitz commented on #153
I'm currently working on adding PostGreSQL array support. timestamp is already supported: #314, but not sure about timestamp w/tz.

[2020-12-15 19:10] avirtuos commented on #153
@shurvitz , @soojinj can show you about tz work she did recently which might help.

[2020-12-15 22:44] shurvitz commented on #153
#319 adds support for PostGreSQL ARRAY type. Will look at uuid and timestamptz next.

[2020-12-16 07:58] timneedham commented on #153
Oh wow, thanks all! :hug:
I'll let you know once it's merged...

Thanks for such a quick response, very much appreciated!

[2020-12-16 10:58] Meosit commented on #181
Experiencing this issue too, as mentioned, it appears for tables which contain fields of array type. Also it seems that in cloudwatch there is no relevant logs, even with debug log level.

[2020-12-16 13:18] shurvitz commented on #181
Take a look at PR #319. Once merged it should fix the ARRAY issue as well as provide support for other types by defaulting their value to varchar (instead of dropping them).

[2020-12-16 17:37] #186 closed

[2020-12-16 18:03] shaider0802 opened #321 "[QUESTION] Is calling a UDF over JDBC possible?"
I just set up a Postgresql database (RDS) for federated queries. It turns out that we can't call user defined functions available in the postgresql database (e.g. a table-valued SQL function). I have three questions in that regard:
1. Can anyone pls. confirm that indeed this is the case (I tried more than one ways of invoking the UDF, but got syntax error or table not found error, showing that the

[2020-12-16 18:52] shurvitz commented on #321
@shaider0802, Can you share your query(s)?

[2020-12-16 22:19] shurvitz commented on #181
FYI, I just cut a new release for Athena Query Federation (v2020.51.1) and published to SAR in prod. This release includes all the latest PRs including #319.
Let me know if it fixes this issue so that I can close it.